@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-blue: #3692ff;
  --gray50: #f9fafb;
  --gray100: #f4f5f7;
  --gray200: #e5e7eb;
  --gray300: #d2d6dc;
  --gray400: #9fa6b2;
  --gray500: #6b7280;
  --gray600: #4b5563;
  --gray700: #374151;
  --gray800: #1f2937;
  --gray900: #111827;
  --font-pretendard: 'Pretendard Variable', system-ui, sans-serif;
  --font-nanumsquareneo: 'NanumSquareNeo-Variable', system-ui, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nanumsquareneo);
  overflow-wrap: break-word;
}

main {
  margin: 0 auto;
  padding: 1rem;
  width: 100vw;
  max-width: 95rem;
}

a {
  transition: all 0.3s ease-in-out;
  color: inherit;
  text-decoration: none;
}

a:hover {
  filter: saturate(1.25) brightness(1.1);
  transition: all 0.3s ease-in-out;
}

a:not([class]) {
  color: currentColor;
  text-decoration-skip-ink: auto;
}

:where(html, body) {
  min-height: 100dvh;
}
:where(html) {
  text-size-adjust: none;
}
:where(body) {
  margin: 0;
  overflow-wrap: break-word;
  text-size-adjust: none;
}
:where(:lang(ko)) {
  word-break: keep-all;
}
:where(img) {
  max-width: 100%;
  height: auto;
}
:where([class]) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}
:where([class])::before,
:where([class])::after {
  box-sizing: border-box;
  pointer-events: none;
}
:where(ol[class], ul[class]) {
  list-style: none;
}
:where(
  hr[class],
  button[class],
  fieldset[class],
  iframe[class],
  input[class],
  select[class],
  textarea[class]
) {
  border: 0;
}
:where(input[class], textarea[class]) {
  border-radius: 0;
}
:where(
  button[class],
  input[class],
  mark[class],
  meter[class],
  progress[class]
) {
  background-color: transparent;
}
:where(table[class]) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
:where(
  button[class],
  input[class],
  meter[class],
  progress[class],
  select[class],
  textarea[class]
) {
  appearance: none;
}
