.skyColorSection .skyColorContent .textBox5 {
  display: flex;
  width: 35.5rem;
  min-width: 29.5rem;
  margin-bottom: 11.25rem;

  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: left;
  flex-wrap: wrap;
}

/* 태블릿 스타일 */
@media (max-width: 750px) {
  .skyColorSection .skyColorContent .textBox5 {
    display: flex;
    justify-content: center;
    width: 35.5rem;
    min-width: 29.5rem;
  }
}