/* 하늘색 배경 공통 */
.skyColorSection {
  width: 100%;
  height: 54rem;
  background-color: #CFE5FF;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.skyColorContent {
  height: 34rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.skyColorContent .imgBox {
  display: flex;
  max-width: 74.6rem;
  max-height: 39.7rem;
  margin-left: 0.7rem;
}

.skyColorContent .imgBox img {
  display: flex;
  height: 100%;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

/* 흰 색 배경 공통 */
.whiteColorSection {
  width: 100%;
  height: 72rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {
  .skyColorSection {
    width: 100%;
    height: 77rem;
    background-color: #CFE5FF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .skyColorContent {
    height: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skyColorContent .imgBox {
    max-width: 61.6rem;
    max-height: 39.7rem;
    margin-left: 0 !important;
    margin-bottom: 0;
  }

  .whiteColorSection {
    width: 100%;
    height: 85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
}