main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > .content {
  width: 640px;
  text-align: center;
}
.big_logo {
  display: block;
  margin-bottom: 40px;
}

#forms {
}
#forms label {
  display: block;
  width: 100%;
  position: relative;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
#forms .inputbox {
  width: 100%;
  padding: 16px 24px;
  border-radius: 12px;
  height: 56px;
  background: var(--gray100);
  margin-bottom: 36px;
  display: flex;
  border: 1px solid transparent;
  position: relative;
}
#forms .inputbox.on {
  border: 1px solid var(--primary100);
}
#forms .inputbox input {
  border: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 16px;
  outline: none;
}
#forms .inputbox .seePw {
  display:flex;
  align-items: center;
  justify-content: center;
}

#forms .inputbox.err {
  border-color: var(--error);
}
#forms .inputbox .errMsg {
  position: absolute;
  left: 0;
  top: 110%;
  /* position: absolute; */
  display: block;
  text-align: left;
  padding-left: 16px;
  font-size: 15px;
  font-weight: 600;
  color: var(--error);
  letter-spacing: -1px;
}
#forms button.btn.loginBtn {
  width: 100%;
  height: 56px;
  background: var(--gray400);
  color: var(--gray50);
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  border: 0;
  border-radius: 40px;
  margin-bottom: 24px;
  transition: 0.5s;
}
#forms button.btn.loginBtn.on {
  cursor: pointer;
  background-color: var(--primary100);
}

#forms .simple {
  display: flex;
  justify-content: space-between;
  background: #e6f2ff;
  padding: 16px 23px;
  height: 74px;
  border-radius: 12px;
  margin-bottom: 24px;
}
#forms .simple p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--gray800);
}
#forms .simple .icon_box {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
#forms .simple a {
  display: block;
}

#forms .link {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--gray800);
}
#forms .link a {
  color: var(--primary100);
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  .big_logo img {
    width: 100%;
    max-width: 390px;
  }
}

@media screen and (max-width: 743px) {
  main > .content {
    padding: 0 16px;
    max-width: 400px;
  }
}
