@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(./font/Pretendard-Regular.woff2) format("woff2"),
    url(./font/Pretendard-Regular.woff) format("woff");
}
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  font-size: 10px;
}
p {
  word-break: keep-all;
}

/* color */
:root {
  --primary100: #3692ff;
  --primary200: #1967d6;
  --primary300: #1251aa;
  --error: #f74747;

  /*secondary color*/
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
}
