/*  ---------------- CSS ---------------- */
body {
  margin-top: 7rem;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #dfdfdf;
  z-index: 999;
  background: #fff;
}
header .gnb {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  justify-content: space-between;
  padding: 9px 200px;
  margin: auto;
}
header .loginBtn {
  border: 0;
  display: block;
  text-align: center;
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: var(--primary100);
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: var(--gray50);
}
header .logo img {
  width: 15.3rem;
}

.visual {
  height: 540px;
  width: 100%;
}
.visual .content {
  height: 100%;
  width: 100%;
  background-color: #cfe5ff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.visual .content img {
  width: 40vw;
}
.visual .txtBox {
  height: 34rem;
  margin-right: 10px;
}
.visual .txtBox h2 {
  height: 11.2rem;
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: 700;
  color: #374151;
  margin-bottom: 3rem;
}
.visual .txtBox a {
  width: 100%;
  display: block;
  max-width: 35.7rem;
  max-height: 5.6rem;
  font-size: 2.3rem;
  line-height: 120%;
  font-weight: 600;
  color: var(--gray50);
  background-color: var(--primary100);
  text-align: center;
  padding: 1.6rem 0;
  border-radius: 4rem;
}

.section {
  display: flex;
  align-items: cneter;
  justify-content: center;
  width: 100%;
  height: 72rem;
  padding: 13.8rem 34.4rem;
}
.section .content {
  width: 100rem;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.section .content img {
  max-width: 58.8rem;
  /* width: 100%; */
}
.section .content .left {
  text-align: right;
}
.section .content .left.txtBox {
  margin-right: 6.4rem;
}
.section .content .txtBox {
  position: relative;
  margin-left: 6.4rem;
  width: 100%;
}
.section .content .txtBox .abs {
  width: 32rem;
}
.section .content .txtBox h4 {
  color: var(--primary100);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 1.5rem;
}
.section .content .txtBox h2 {
  font-size: 4rem;
  line-height: 5.6rem;
  font-weight: 700;
  letter-spacing: 2%;
  color: #374151;
  margin-bottom: 3.5rem;
}
.section .content .txtBox p {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #374151;
}

.bottomVisual {
  margin-top: 13.8rem;
}
.bottomVisual img {
  width: 64.9rem;
}
.bottomVisual .txtBox {
  margin-right: 6.9rem;
}

footer {
  width: 100%;
  height: 16rem;
  padding: 3.2rem 20rem;
  background: #111827;
}
footer .content {
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
footer .content p {
  color: #9ca3af;
  line-height: 1.8rem;
  font-weight: 400;
}
footer .content .link {
  width: 15.9rem;
  display: flex;
  justify-content: space-between;
}
footer .content .link a {
  color: #e5e7eb;
}
footer .content .icon {
  width: 11.6rem;
  display: flex;
  justify-content: space-between;
}
footer .content .icon img {
  width: 2rem;
}

@media screen and (max-width: 1199px) {
  header {
  }
  header .gnb {
    max-width: 1199px;
    padding: 9px 16px;
    margin: auto;
  }
  header .loginBtn {
  }
  header .logo img {
    width: 100%;
    max-width: 153px;
  }

  .visual {
    margin-top: 70px;
    height: 771px;
  }
  .visual .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .visual .content img {
    width: 100%;
    max-width: 740px;
  }
  .visual .txtBox {
    width: 100%;
  }
  .visual .txtBox br {
    display: none;
  }
  .visual .txtBox h2 {
    height: auto;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  .visual .txtBox a {
    margin: auto;
  }

  .section {
    display: flex;
    align-items: cneter;
    justify-content: center;
    width: 100%;
    height: 72rem;
    padding: 24px;
  }
  .section .content {
    flex-wrap: wrap;
    width: 100%;
    max-width: 588px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  .section .content img {
    width: 100%;
  }
  .section .content .left {
  }
  .section .content .left.txtBox {
    margin-right: 0;
    order: 1;
  }
  .section .content .txtBox {
    margin-left: 0;
    width: 100%;
  }
  .section .content .txtBox .abs {
    width: 100%;
  }
  .section .content .txtBox h4 {
    color: var(--primary100);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 1.5rem;
  }
  .section .content .txtBox h2 {
    font-size: 4rem;
    line-height: 5.6rem;
    font-weight: 700;
    letter-spacing: 2%;
    color: #374151;
    margin-bottom: 3.5rem;
  }
  .section .content .txtBox p {
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: #374151;
  }

  .bottomVisual {
    margin-top: 13.8rem;
  }
  .bottomVisual img {
    width: 64.9rem;
  }
  .bottomVisual .txtBox {
    margin-right: 0;
    height: auto;
  }
  .bottomVisual .txtBox h2 br {
    display: block;
  }

  footer {
    width: 100%;
    height: 16rem;
    padding: 3.2rem 20rem;
    background: #111827;
  }
  footer .content {
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
  }
  footer .content p {
    color: #9ca3af;
    line-height: 1.8rem;
    font-weight: 400;
  }
  footer .content .link {
    width: 15.9rem;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link a {
    color: #e5e7eb;
  }
  footer .content .icon {
    width: 11.6rem;
    display: flex;
    justify-content: space-between;
  }
  footer .content .icon img {
    width: 2rem;
  }
}

@media screen and (max-width: 743px) {
  br {
    display: none;
  }
  .visual {
    height: 540px;
  }
  .visual .content {
    height: auto;
    padding: 0 16px;
  }
  .visual .content h2 br {
    display: block;
  }
  .visual .content .txtBox h2 {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 32px;
    line-height: 140%;
  }
  .visual .txtBox {
    margin-right: 0;
  }
  .visual .txtBox a {
    max-width: 240px;
    width: 100%;
  }
  .section {
    height: auto;
  }
  .section .content {
    flex-wrap: wrap;
  }
  .section .content .txtBox {
    padding: 16px 0;
  }
  .section .content .left {
    order: 3;
  }
  .sectipn .content img {
    width: 100%;
  }
}
