*{box-sizing: border-box;}


.FailMessage, .FailMessage2, .FailMessageEmpty {
    display: none;
  }
  

  .error-border {
    border: 2px solid red;
  }
  

  .show-error {
    display: block;
  }

body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: cente

}

.section1{
    margin-top:40px ;
}

input::placeholder{
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #9ca3af;

}

label{
font-weight: 700;
font-size: 18px;
line-height: 26px;
color: #1f2937;


}

input{
width: 640px;
height: 56px;
border-radius: 12px;
padding: 16px 24px 16px 24px;
gap: 10px;
background-color: #f3f4f6;
margin-top: 16px;
margin-bottom: 24px;
}

.login-btn{
width: 640px;
height: 56px;
border-radius: 40px;
padding: 16px 124px 16px 124px;
gap: 10px;
background-color: #9ca3af;
}

.login-btn:hover{
background-color: #3692ff;
}

.login{
font-weight: 600;
font-size: 20px;
line-height: 32px;
align-items: center;
color: #f3f4f6;

}
.login-container{
width: 640px;
height: 74px;
border-radius: 8px;
padding: 16px 23px 16px 23px;
gap: 10px;
background-color: #E6f2ff;
display: flex;
justify-content: space-between;
align-items: center;
}


.login-text{
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;
   color: #1f2937; 
}

.login-icons{
    display: flex;
    gap: 16px;
}

.login-icon{
width: 42px;
height: 42px;

}

.signup-text{
 /* text-align: center; */

}

input:focus{outline:2px solid #3692ff}

input:focus-out{
    border-color: #ccc;
}