@import "reset.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color palette */
:root {
  --color-white: #ffffff;
  --color-label: #1f2937;
  --color-light-gray: #f3f4f6;
  --color-gray: #9ca3af;
  --color-blue: #3692ff;
  --color-bottom-banner: #e6f2ff;
  --color-red: #f74747;
  --color-cool-gray: #1f2937;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: "Pretendard Variable", sans-serif;
  background-color: var(--color-white);
}

main {
  display: flex;
  flex-direction: column;
}

/* 전체 섹션 */
.sing-up-section {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  height: auto;
  width: 100%;
  gap: 24px;
}

.sign-up-head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 16px;
}

/* 로고 */
.logo-button {
  max-width: 396px;
  width: 100%;
  height: 132px;
  background-image: url("login-logo.png");
  background-size: cover;
  cursor: pointer;
}

form {
  width: 100%;
  height: auto;
}

#sign-up-form > div {
  margin-bottom: 18px;
}

label {
  font-size: 18px;
  line-height: 26px;
  color: var(--color-label);
  font-weight: bold;
}

.form-email,
.form-name,
.form-password,
.form-check-password {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 16px;
}

/* 회원가입 인풋 */
#sign-up-form input {
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: var(--color-light-gray);
  border: none;
}

/* 비밀번호 보기 버튼 구현*/
.form-password,
.form-check-password {
  position: relative;
}

.form-password input,
.form-check-password input {
  padding-right: 40px; /* 눈 모양 아이콘 공간을 확보 */
}

/* 비밀번호 보기 버튼 구현*/
.eyes-1 {
  top: 58%;
  width: 24px;
  height: 24px;
  right: 24px;
  position: absolute;
  cursor: pointer;
}

.eyes-2 {
  top: 60%;
  width: 24px;
  height: 24px;
  right: 24px;
  position: absolute;
  cursor: pointer;
}

.eyes-1 img,
.eyes-2 img {
  width: 100%; /* 부모 요소인 .eyes의 너비에 맞춤 */
  height: 100%; /* 부모 요소인 .eyes의 높이에 맞춤 */
  object-fit: contain; /* 아이콘이 부모 안에 꽉 차도록 설정 */
}

#sign-up-form input:focus {
  outline-color: var(--color-blue);
}

#sign-up-form input::placeholder {
  color: var();
}

#sign-up-form .input-error {
  border: 1px solid var(--color-red);
}

/* 잘못된 이메일, 비밀번호 입력 시 */
.hide {
  display: none;
}

.userEmail-error,
.userEmail-empty-error,
.password-error,
.password-empty-error .check-password-error .check-password-empty-error {
  padding-left: 16px;
  color: var(--color-red);
  min-height: 18px;
}

/* 회원가입 버튼 */
#sign-up-form > input[type="submit"] {
  width: 100%;
  color: var(--color-light-gray);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  border-radius: 40px;
  background-color: var(--color-gray);
  cursor: pointer;
  border: none;
  padding: 10px 0; /* 가로축 기준으로 가운데 정렬이 안돼서 설정함 */
}

/* :hover 마우스를 버튼 위에 올렸을 때 */
#sign-up-form > input[type="submit"]:hover {
  background-color: var(--color-blue);
}

#sign-up-form > input[type="submit"].active {
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
}

/* 간편 로그인 하기 */
.sign-up-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 16px 23px;
  border-radius: 8px;
  background-color: var(--color-bottom-banner);
}

.sign-up-bottom-text {
  font-size: 16px;
  line-height: 26px;
}

.sign-up-bottom-icon {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.icon-image-google {
  display: flex;
  background-image: url("google.png");
  width: 42px;
  height: 42px;
  background-size: contain; /* 영역에 맞게 이미지 크기 설정 */
  background-position: center;
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  text-indent: -9999px;
  cursor: pointer;
}

.icon-image-kakaoTalk {
  display: flex;
  background-image: url("kakao.png");
  width: 42px;
  height: 42px;
  background-size: contain; /* 영역에 맞게 이미지 크기 설정 */
  background-position: center;
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  text-indent: -9999px;
  cursor: pointer;
}

p {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 4px;
  font-size: 14px;
  line-height: 24px;
}

.go-log-in {
  color: var(--color-blue);
}

.confirm-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 540px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
}
.confirm-button {
  align-self: flex-end; /*오른쪽으로 정렬*/
  margin-top: auto; /* 아래로 정렬 */
  margin-bottom: 28px;
  margin-right: 28px;
  width: 120px;
  height: 48px;
}

.confirm-button button {
  all: unset;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  width: 120px;
  height: 48px;
  background-color: var(--color-blue);
  border-radius: 8px;
  color: var(--color-white);
  padding: 12px 23px;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
}

.confirm-box p {
  color: var(--color-cool-gray);
  font-size: 16px;
  text-align: center;
  margin-top: 108px;
  font-weight: bold;
}
