@import "reset.css";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pretendard;
}

:root {
    --color1 : #F3F4F6;
    --color2 : #9CA3AF;
    --color3 : #E6F2FF;
    --color4 : #3182F6;
    --color5 : #3692FF;
}

.container {
    min-width: 640px;
    height: 842px;
    margin: 60px auto;
    opacity: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    box-sizing: border-box;
}

.container img {
    max-width: 396px;
    max-height: 132px;
    background-position: center;

}

.box1 {
    width: 640px;
    height: 670px;
    gap: 24px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.box2 {
    height: 524px;
    gap: 12px;
    opacity: 0px;
    display: flex;

    flex-direction: column;
}

.box3 {
    height: 98px;
    gap: 16px;
    opacity: 1;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625rem;
    text-align: left;
}

.box4 {
    height: 98px;
    gap: 16px;
    opacity: 1;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.625rem;
    text-align: left;
}

input {
    width: 100%;
    height: 56px;
    padding: 16px 24px 16px 24px;
    gap: 10px;
    border-radius: 12px;
    opacity: 1;
    background-color: var(--color1);
    margin-top: 16px;
    font-family: pretendard;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: left;
    border: 2px solid var(--color1);
}

input:focus {
    outline: 2px solid var(--color5);
}

.button1 {
    width: 100%;
    height: 56px;
    background-color: var(--color2);
    padding: 16px 124px 16px 124px;
    gap: 10px;
    margin-top: 24px;
    border-radius: 40px;
    opacity: 1;
    font-family: pretendard;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
    color: var(--color1);
}


.box5 {
    width: 100%;
    height: 74px;
    padding: 16px 23px 16px 23px;
    gap: 10px;
    border-radius: 8px;
    opacity: 1;
    background-color: var(--color3);
}

.box6 {
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;

}

.box7 {
    height: 26px;
    opacity: 1;
    margin: 8px 0;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;

}

.box8 {
    width: 100px;
    height: 42px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.icon {
    width: 100%;
    height: 100%;
    max-width: 42px;
    max-height: 42px;
}

.box9 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap : 2px;
}

.box10 {
    font-family: Pretendard;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
}

.box11 {
    font-family: Pretendard;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
}

a {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.044rem;
    text-align: left;
    color: var(--color5);
    text-decoration: none;
}

a.underline {
    text-decoration: underline;
}

.input-password {
    background-image: url('../icon/pwicon1.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right 24px center;
}
