@import "reset.css";
@import "button.css";
@import "./main-page-css-file/header.css";
@import "./main-page-css-file/main.css";
@import "./main-page-css-file/footer.css";
@import "./main-page-css-file/media-qu.css";

* {
    font-size: 16px;
    font-family: 'Pretendard';
    box-sizing: border-box;
}

body {
    min-width: 375px;
    background: var(--white);
}