.Write {
    width: 1200px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 0 auto;
    margin-top : 100px;
}

.Article {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.WriteButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    padding: 12px 23px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #3692FF;
}