.bestText{
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}

.wrapper{
  width: 1200px;
  gap: 24px;
  margin-left: 360px;
  margin-right: 360px;
}



@media (min-width:768px) {
  .wrapper{
    width: 696px;
    height: 246px;
  }
}

@media (min-width: 375px){
  .wrapper{
    width: 343px;
    height: 240px;
  }
}