.wrapper{
  width: 1200px;
  height: 756px;
  gap: 24px;
  margin-left: 360px;
  margin-right: 360px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boardText{
  font-size: 20px;
  font-weight: 700;
  color: #1F2937;
}

.postBtn{
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: #3692FF;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.searchInput{
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 9px 20px 0px 16px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background-color: #F3F4F6;
  width: 1054px;
  height: 42px;
  margin-right: 20px;
}

.inputContainer{
  display: flex;
  justify-items: space-between;
}

.textContainer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.searchInput::-webkit-input-placeholder{
  background-image: url("../../public/images/ic_search.png");
  background-repeat: no-repeat;
  background-position:0.5px center;
  background-size: contain;
  width: 250px;
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #9CA3AF;
  text-align: center;
}
