  /* section1 */
  .whiteColorSection .content1 {
    height: 44.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCFCFC;
    /* max-width: 98.8rem;
    min-width: 50.8rem; */
  }

  .whiteColorSection .textBox {
    width: 27.4rem;
    height: 100%;
    padding-top: 10.3rem;
    padding-bottom: 10.3rem;
    margin-left: 47px;
  }

  .content1 .imgBox {
    height: 444px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
  }

  .content1 .imgBox img {
    width: 100%;
    height: 100%;
  }

  .content1 .textBox .hotItem {
    width: 8.2rem;
    height: 2.6rem;
    color: #3692FF;
    font-weight: 700;
    font-size: 1.8rem;
  }

  .content1 .textBox .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content1 .textBox .text .bigtext {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.6rem;
    text-align: left;
    color: #374151;
    margin-bottom: 2.4rem;
    flex-wrap: wrap;
  }

  .content1 .textBox .text .bigtext .text1 {
    color: #374151;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
  }

  .content1 .textBox .text .smalltext {
    flex-wrap: wrap;
  }

  .content1 .textBox .smalltext .text1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 3.2rem;
    text-align: left;
    color: #374151;
  }

  /* 태블릿 스타일 */
  @media (max-width: 750px) {
    .whiteColorSection .content1 {
      height: 65.4rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background-color: #FCFCFC;
    }

    .content1 .imgBox {
      height: 444px;
      filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
    }

    .content1 .imgBox img {
      width: 100%;
      height: 100%;
    }

    .whiteColorSection .textBox {
      /* width: 36.4rem; */
      height: 100%;
      padding-top: 2.3rem !important;
      padding-bottom: 5.3rem !important;
      min-width: 0;
      margin-left: 0;
      width: 100% !important;
    }

    .text {
      margin: 0 0 !important;
      margin-right: 0 !important;
    }

    .content1 .textBox .text .bigtext {
      display: flex;
      margin-top: 2rem;
    }

    .content1 .textBox .text .bigtext .text1 {
      font-size: 4rem;
      margin-right: 16px;
    }

    .content1 .textBox .smalltext .text1 {
      font-size: 27px;
    }
  }


  /* 모바일 스타일 */
  @media (max-width: 474px) {
    .content1 .imgBox {
      max-width: 390px !important;
    }

    .whiteColorSection .textBox {
      margin-left: 10px;
    }

  }