{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "^@vercel/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/app$",
    "^@/app/providers$",
    "^@/app/providers/(.*)$",
    "^@/app/styles$",
    "^@/app/styles/(.*)$",
    "^@/app/types$",
    "^@/app/types/(.*)$",
    "^@/app/(.*)$",
    "^@/pages$",
    "^@/pages/api$",
    "^@/pages/api/(.*)$",
    "^@/pages/(.*)$",
    "^@/widgets$",
    "^@/widgets/(.*)$",
    "^@/features$",
    "^@/features/([^/]+)/ui$",
    "^@/features/([^/]+)/ui/(.*)$",
    "^@/features/([^/]+)/model$",
    "^@/features/([^/]+)/model/(.*)$",
    "^@/features/([^/]+)/api$",
    "^@/features/([^/]+)/api/(.*)$",
    "^@/features/([^/]+)/lib$",
    "^@/features/([^/]+)/lib/(.*)$",
    "^@/features/([^/]+)/config$",
    "^@/features/([^/]+)/config/(.*)$",
    "^@/features/(.*)$",
    "^@/entities$",
    "^@/entities/([^/]+)/ui$",
    "^@/entities/([^/]+)/ui/(.*)$",
    "^@/entities/([^/]+)/model$",
    "^@/entities/([^/]+)/model/(.*)$",
    "^@/entities/([^/]+)/api$",
    "^@/entities/([^/]+)/api/(.*)$",
    "^@/entities/([^/]+)/lib$",
    "^@/entities/([^/]+)/lib/(.*)$",
    "^@/entities/([^/]+)/config$",
    "^@/entities/([^/]+)/config/(.*)$",
    "^@/entities/(.*)$",
    "^@/shared$",
    "^@/shared/api$",
    "^@/shared/api/(.*)$",
    "^@/shared/config$",
    "^@/shared/config/(.*)$",
    "^@/shared/lib$",
    "^@/shared/lib/(.*)$",
    "^@/shared/ui$",
    "^@/shared/ui/(.*)$",
    "^@/shared/hooks$",
    "^@/shared/hooks/(.*)$",
    "^@/shared/types$",
    "^@/shared/types/(.*)$",
    "^@/shared/assets$",
    "^@/shared/assets/(.*)$",
    "^@/shared/(.*)$",
    "^@constants/(.*)$",
    "^@layouts/(.*)$",
    "^@styles/(.*)$",
    "^@public/(.*)$",
    "^@testing-library/(.*)$",
    "^@storybook/(.*)$",
    "^[.]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "tailwindConfig": "./tailwind.config.ts"
}
