{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-css-order",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
		"<TYPES>",
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "^@vercel/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@app$",
    "^(@api|@api|@features|@hooks|@lib|@constants|@swr|@utils|@styles|@types)$",
    "^(@api|@api|@features|@hooks|@lib|@constants|@swr|@utils|@styles|@types)(/.*)$",
    "^(@shared|@config)$",
    "^(@shared|@config)(/.*)$",
    "^(@assets)$",
    "^(@assets)(/.*)$",
    "^(@components)$",
    "^(@components)(/.*)$",
    "^(@commonui|@layout|@ui)$",
    "^(@commonui|@layout|@ui)(/.*)$",
    "^(@pages)$",
    "^(@pages)(/.*)$",
    "^(@public)$",
    "^(@public)(/.*)$",
    "^[.]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "tailwindConfig": "./tailwind.config.ts"
}
