html {
  font-size: 10px;
  font-family: 'Pretendard-Regular', sans-serif;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background: white;
  z-index: 1;
  max-height: 70px;
}

nav > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20rem;
}

nav > div > button {
  min-width: 12.8rem;
  height: 4.8rem;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--main-color);
  color: white;
  padding: 1.2rem 2.3rem;
  font-weight: 600;
  font-size: 1.6rem;
  white-space: nowrap;
}

.banner {
  width: 100%;
  height: 54rem;
  background-color: var(--banner-color);
  margin-top: 7rem;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.banner-content {
  min-width: fit-content;
  margin-bottom: 9rem;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-title {
  max-width: 35rem;
  text-wrap: wrap;
  word-break: keep-all;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin-bottom: 4rem;
}

.banner-button {
  width: 100%;
  max-width: 36rem;
  height: 5.6rem;
  border: none;
  border-radius: 4rem;
  padding: 1.6rem 12.4rem;
  background-color: var(--main-color);
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

button {
  cursor: pointer;
}

.banner-image img {
  vertical-align: top;
  max-width: 74.6rem;
  width: 100%;
  height: auto;
}

.item {
  max-height: 72rem;
  padding: 13.8rem 0rem;
}
/*** 
  padding: 120px 0px 80px 60px; 
  패딩대신 gap을 통해서 재사용성 높임
  ***/

.item-container {
  max-width: 98.8rem;
  display: flex;
  margin: 0 auto;
  gap: 4rem;
  background-color: #fcfcfc;
}

.item-container img {
  max-width: 58.8rem;
  width: 60%;
  height: auto;
  object-fit: contain;
}

.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  word-break: keep-all;
  height: 23.8rem;
  margin: auto 0;
  width: 40%;
}

.strong {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--main-color);
  margin-bottom: 2rem;
}

.item-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  margin-bottom: 3rem;
  max-width: 32rem;
}

.first-item-title {
  max-width: 22rem;
}

.item-subtitle {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
}

/* item의 좌우 반전을 위한 스타일 추가 */
.search .item-container {
  flex-direction: row-reverse;
}

.search .item-content {
  text-align: right;
  align-items: end;
}

figure {
  background-color: var(--banner-color);
  width: 100%;
  height: 54rem;
}

footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  color: white;
  min-height: 16rem;
  padding: 3.2rem 20rem;
  font-size: 1.6rem;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-footer-container {
  display: none;
}

.footer-info {
  display: flex;
  gap: 2rem;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.footer-info a {
  color: white;
  text-decoration: none;
}

@media (min-width: 744px) and (max-width: 1199px) {
  nav > div {
    padding: 1rem 2.4rem;
  }

  .banner {
    height: 77rem;
  }

  .banner-container {
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .banner-title {
    max-width: 100%;
    text-wrap: nowrap;
  }

  .item {
    max-height: none;
    padding: 5.2rem 0rem;
  }

  .item-container {
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 2.4rem;
    background-color: white;
  }

  .item-container img {
    max-width: 100%;
    width: 100%;
  }

  .item-content {
    width: 100%;
    justify-content: initial;
  }

  .item-title {
    max-width: none;
  }

  .banner-title {
    text-align: center;
  }

  footer {
    padding: 3.2rem 2.4rem;
  }
}

@media (max-width: 743px) {
  * {
    font-family: 'Pretendard-Regular', sans-serif;
  }

  nav > div {
    padding: 1rem 1.6rem;
  }

  .banner {
    height: 54rem;
  }

  .banner-container {
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-top: 4.8rem;
  }

  .banner-content {
    margin-bottom: 4.8rem;
  }

  .banner-title {
    margin-top: 0rem;
    max-width: 24rem;
    line-height: 4rem;
    text-wrap: wrap;
    word-break: keep-all;
    margin-bottom: 1.8rem;
  }

  .banner-button {
    max-width: 24rem;
    padding: 1rem 7rem;
    font-size: 1.8rem;
  }

  .item {
    max-height: none;
    padding: 2rem 0rem;
  }

  .item-container {
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 2.4rem;
    background-color: white;
    gap: 2.4rem;
  }

  .item-container img {
    max-width: 100%;
    width: 100%;
  }

  .item-content {
    width: 100%;
    justify-content: initial;
    height: auto;
  }

  .strong {
    margin-bottom: 0rem;
  }

  .item-title {
    max-width: none;
    font-size: 2.4rem;
    margin-bottom: 0rem;
  }

  .item-subtitle {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .banner-title {
    text-align: center;
    font-size: 3.2rem;
  }

  footer {
    padding: 3.2rem 2.4rem;
    word-wrap: break-word;
  }

  .footer-container {
    display: none;
  }

  .mobile-footer-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  .mobile-footer-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-footer-container p {
    color: var(--mobile-footer-font-color);
  }
}
