body{
  display: flex;
  justify-content: center;
  
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.panda-logo{
  width: 100%;
}

.main-section{
  width: 100%;
  gap: 24px;
  
}

.privite{
  width:100%;
  gap: 24px; 
}

input[type="text"]{
  width: 100%;
  padding: 16px 24px 16px 24px;
  gap: 10px;
  border-radius: 12px;
  background: #F3F4F6;
  border-width: 0;
  box-sizing: border-box;  
}

input:focus[type="text"]{
  border: 1px solid #3692FF
}

.email{
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.nikname{
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.pw{
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.pw-icon-skin{
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.pw-icon{
  position: relative;
}

.pwch{
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}


.pwchenk-icon{
  position: relative;
}

.pwch-icon-skin{
  position: absolute;
  right: 30px;
  bottom: 10px;
}

.btn-newbeejoin{
 
  text-decoration: none;
}

.btn-newbeejoin{
  width: 100%;
  padding: 16px 124px 16px 124px;
  gap: 10px;
  border-radius: 40px;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin:24px 0px;
  text-align: center;
  background: #9CA3AF;
  color: #F3F4F6;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.main-simplelogin-skin{
  width: 100%;
  padding: 16px 23px 16px 23px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  background: #E6F2FF;
  box-sizing: border-box;

  

}
.main-simplelogin-skin-3set{
  width:100%;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.word-btn{
  width:100%;
  gap: 4px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  color: #3692FF;
}