  /* 보통 굵기입니다. 숫자 400과 같습니다 */
  /* font-style:normal; */
  /* 볼드체입니다. 숫자 700과 같습니다 */
  /* font-style:bold; */
  /* 해당 굵기에 어떤 파일을 사용할 지정 */
  /* font-weight:700;  */
/* 
@font-face {
  font-family: 'ROKAF-Sans-Medium';
  src: url('../fonts/ROKAF-Sans-Medium.ttf') format('woff');
}
@font-face {
  font-family: 'ROKAF-Sans-Bold';
  src: url('../fonts/ROKAF-Sans-Bold.ttf') format('woff');
}
 */
/* "공군 서체", 속도를 우선해서 "pretendard variable"을 사용. */
/* html {
  font-family: 'ROKAF-Sans-Medium', 'pretendardvariable';
} */

/* 크롬등의 웹브라우저 자체 css 적용을 reset한다. */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;  
}

/* em:부모요소의 폰트 사이즈에 의해 자식요소의 폰트 사이즈가 결정
rem: "Root + em" Root의 폰트 사이즈에 의해 결정되는 방식. */

html{
  font-size:16px;
  /* width:1920px; */
}

a {
  text-decoration-line: none;  
}

/* width:1920px; */
/* vw: 웹 브라우저의 너비를 기준으로 값을 백분율로 지정 */
header {
  width:100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  color:#FFFFFF;
  border:0px,0px,1px,0px;
  border-color: #DFDFDF;
  padding: 9px 200px 9px 200px; /* 위 | 오른쪽 | 아래 | 왼쪽 */
  gap: 10px;
  position: fixed;
  /* z-index: 2; */
  top:9.5;
  left:200;
  /* background-color:#CFE5FF;   */ 
  background-color: #FCFCFC; 
}
/* align-items stretch가 기본 항상 큰 size를 유지하려고 한다. */
/* z-index 잘 작동한다. 하지만 꺼도 잘 작동. */

#panda-logo {
  width: 153px;  
  /* width: 100%;   */
  height:51px;
  top:5.02px;
  border-radius:11.18px;
}

.login-btn {
  width: 128px;
  /* width: 100%;   */
  height: 48px;
  color: #F3F4F6;
  background-color: #3692ff;
  border-radius: 8px;
  padding: 12px 23px 10px 23px;
  gap:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;  
}

.btn-font {
  width: 100%;
  color: #f3f4f6;
  font-weight: 600;
  /* font-size: 16px; */
  /* line-height: 26px; */
  font-size: 1rem;
  line-height: 1.63rem;  
  text-align:center;
  white-space: nowrap;
}

/* 아래 login-btn, login-font는 onclick 때 사용. */
/* #login-btn {
  width: 128px;
  height: 48px;
  border-radius: 8px;
  padding: 12px 23px 12px 23px;
  gap: 10px;
  background-color: #3692ff;
  cursor:pointer;  
}

#login-font {
  width: 42px;
  height: 26px; 
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #f3f4f6;
} */

/* CSS는 유효한 숫자 표기를 따라야 한다.
  유효한 CSS 숫자 표기에는 소수점 앞에 0이 없는 경우, 
  소수점 뒤에 0으로 끝나지 않는 경우 등이 포함된다.
  예를 들어, 0.5는 유효한 숫자이지만 .5는 유효하지 않은 숫자이다.
 */
.section1 {
  width:100%;
  height:540px;
  background-color:#CFE5FF;
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: flex-end;
  gap:7px;
}

.section1-title-layer {
  display:flex;
  flex-direction:column;
  padding-bottom: 90px;
  gap:30px;  
  /* z-index: 1; */
}

.section1-title {
  /* width:295px;
  height:112px; */
  width:100%;
  height:auto;
  font-weight: 700;
  /* font-size: 40px;
  line-height: 56px; */
  font-size: 2.5rem;
  line-height: 3.5rem;
  color:#374151;  
}

.show-btn {
  /* width: 357px; */  
   width: 100%;  
   height: 56px;
  color: #F9FAFB;
  background-color: #3692ff;  
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1-img-layer{
  width:746px;
  height:340px;  
  display: flex;
  align-items: flex-end;
}

/* 아래 show-btn, show-font는 onclick 때 사용. */
/* #show-btn {
  background-color: #3692FF;
  width:357px;
  height:56px;  
  border-radius: 40px;
  padding: 16px 124px 16px 124px;
*/
  /* gap: 10px; */

  /*
  cursor:pointer;
} */

/* 질문 1. font-size가 20px이면 문제 발생. */
/* #show-font {
  width: 109px;
  height: 32px; */
  /* font:pretendardvariable; */
 /* font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #F9FAFB;
  text-align: center;
} */

/* gap 은 요소들 사이의 여백을 만들어 주는 속성 */
.section2 {  
  width:100%;  
  height:720px;  
  background-color:#FFFFFF;   
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: center;
  padding: 0 31 0 31;
}

.section2-layer{
  width:988px;
  height:444px;
  background-color: #FCFCFC;
  /* background-color:cornflowerblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: center;  
  gap:64px;
}

.section2-img-layer{
  /* width:588px; */
  width:64%;
  height:auto;
  /* padding-left: 31px; */
  display: flex;
  align-items: flex-end;
  /* background-color: aqua; */
}

.section2-title-layer {  
  /* width:312px; */
  width:36%;
  height:auto;
  /* background-color: burlywood; */
  display:flex;
  flex-direction:column;
  justify-content: center;
  gap: 24px;
}

.section2-hot-item {
  font-weight: 700;  
  /* font-size: 18px;
  line-height: 26px; */
  font-size: 1.125rem;
  line-height: 1.63rem;
  color:#3692FF;
}

/* letter-spacing 글자 간격 */
.section2-title {
  font-weight: 700;  
  /* font-size: 40px;
  line-height: 56px;     */
  font-size: 2.5rem;
  line-height: 3.5rem;
  color:#374151;  
}

.section2-desc {
  font-weight: 500;  
  /* font-size: 24px;
  line-height: 32px; */
  font-size: 1.4rem;
  line-height: 2rem;
  color:#374151;
}

.section3 {
  width:100%;
  height:720px;
  /* min-width:20rem; */
  background-color:#FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: center;
  /* padding: 0 9.5 0 0;
  gap:64px; */
}

.section3-layer{
  width:988px;
  height:444px;
  background-color: #FCFCFC;
  /* background-color:cornflowerblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: center;  
  gap:64px;
}

.section3-img-layer{
  /* width:588px; */
  width:64%;
  /* height:444px; */
  height:auto;
  /* padding-left: 31px; */
  display: flex;
  align-items: flex-end;
  /* background-color: aqua; */
}

.section3-title-layer {  
  /* width: 317px; */
  width:36%;
  /* height:238px;  */
  height:auto;
  /* background-color: #FCFCFC; */
  display:flex;
  flex-direction:column;
  gap:24px;
}

.section3-search {
  font-weight: 700;  
  /* font-size: 18px;
  line-height: 26px; */
  font-size: 1.125rempx;
  line-height: 1.63rem;
  text-align: right;
  color:#3692FF;
  /* padding-bottom: 12px; */
}

.section3-title {
  font-weight: 700;  
  /* font-size: 40px;
  line-height: 56px; */
  font-size: 2.5rem;
  line-height: 3.5rem;
  /* letter-spacing:2%; */  
  text-align: right;
  color:#374151;  
  /* padding-bottom: 24px; */
}

.section3-desc {
  font-weight: 500;  
  /* font-size: 24px;
  line-height: 32px; */
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: right;
  color:#374151;
}

.section4 {
  width:100%;
  height:720px;  
  background-color:#FFFFFF;  
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: center;
  /* padding: 0 31 0 31; */
}

.section4-layer{
  width:988px;
  height:444px;
  background-color: #FCFCFC;
  /* background-color:cornflowerblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: center;  
  gap:64px;
}

.section4-img-layer{
  /* width:588px; */
  width:64%;
  /* height:444px; */
  height:auto;
  /* padding-left: 31px; */
  display: flex;
  align-items: flex-end;
  /* background-color: aqua; */
}

.section4-title-layer {  
  /* width:364px; */
  width:36%;
  /* height: 444px;   */
  height:auto;
  /* background-color: #FCFCFC; */
  display:flex;
  flex-direction:column;  
  justify-content: center;
  gap: 24px;
}

.section4-register {
  font-weight: 700;  
  /*font-size: 18px; */
  /* line-height: 26px; */
  font-size: 1.125rem;
  line-height: 1.63rem;
  color:#3692FF;
}

/* letter-spacing 글자 간격 */
.section4-title {
  font-weight: 700;  
  /* font-size: 40px;
  line-height: 56px;  */
  font-size: 2.5rem;
  line-height: 3.5rem; 
  /* letter-spacing:2%; */
  color:#374151;  
}

.section4-desc {
  font-weight: 500;  
  /* font-size: 24px;
  line-height: 32px; */
  font-size: 1.4rem;
  line-height: 2rem; 
  color:#374151;
}

.section5 {
  width:100%;
  height:540px;  
  background-color:#CFE5FF;
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: flex-end;
  /* padding: 0 9.5 0 0;
  gap:10px; */
}

.section5-layer{
  width:1110px;
  height:397px;
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items: center;  
  gap:69px;
}
/* 강사님이 반올림해서 사용하라고 하심.  */
.section5-img-layer {
  /* width:746px; */
  width:67.207%;
  height:397px;  
  display: flex;
  align-items: flex-end;
}

.section5-title-layer {  
  /* width:364px; */
  width:32.792%;
  height:172px;
  display:flex;
  flex-direction:column;
  gap:24px;
}

.section5-Information {  
  font-weight: 700;  
  /* font-size: 40px;
  line-height: 56px; */
  font-size: 2.5rem;
  line-height: 3.5rem;
  color:#374151;
}

.footer {
  width:100%;
  height:160px;
  /* min-width:20rem; */
  padding: 32px 200px 32px 200px;
  background-color:#111827;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;  
  gap:10px;
}

.footer-codeit {
  /* width:112px; */
  height: 19px;
  font-weight: 400;  
  /* font-size: 16px; */
  font-size: 1rem;
  /* line-height: 19.09px; */
  line-height: 1.2rem;
  text-align: center;
  color:#9CA3AF;
}

.footer-link-layer {
  width:200px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  /* align-items: flex-start;   */ 
  gap:30px;
  /* margin:0 30 0 30; */
}

.footer-privacy-policy {
  /* width:100px;
  height: 19px; */
  font-weight: 400;
  /* font-size: 16px; */
  font-size: 1rem;
  /* line-height: 19.09px;   */
  line-height: 1.2rem;
  text-align: center;  
  color:#E5E7EB;
  cursor:pointer;
}

.footer-faq {
  /* width: 29px;
  height: 19px; */
  font-weight: 400;  
  /* font-size: 16px; */
  font-size: 1rem;
  /* line-height: 19.09px; */
  line-height: 1.2rem;
  text-align: center;
  color:#E5E7EB;
  cursor:pointer;
}

.footer-sns-layer {
  width:116px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;  
  gap:12px;
}

.item {
  width: 20px;
  height: 20px;
}

.item:hover {
  /* background-color: #ffffff;
  color: #000000; */
  cursor:pointer;
}

/******* mission2 *******/
/* width:1920px; */
/* height:1133px */
/* 
top, left, bottom, right 속성값은 
position 속성이 static일 때는 무시됩니다.
 */
.login-layer{  
  /* background-color: #f10d0d;  */
  width: 640px;
  height: 618px;
  opacity: 0px;  
  margin-top: 231px;
  margin-left:auto;
  margin-right:auto;
}

.login-section1{
  /* background-color: #f1cf0d;  */
  /* width: 640px; */
  width:100%;
  height: 172px;

  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items:start;
  /* gap:16px; */    
}

#login-panda-logo {
  width: 396px;  
  /* width: 61.87%;  */
  height:132px;
}

#login-panda-logo:hover {
  /* background-color: #ffffff;
  color: #000000; */
  cursor:pointer;
}

.login-section2{  
  /* background-color: #33f10d;  */
  width:100%;
  height: 324px;
}

form {
  /* margin: 16px auto; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content:space-around; */
  /* align-items:center; */
  gap:24px; 
}

.login-label{
  width:100%;
  /* height: 42px; */
  /* gap:10px; */
  color: #1F2937;
  font-weight: 700;
  /* font-size: 18px;
  line-height: 26px; */
  font-size: 1.125rem;
  line-height: 1.3rem;
  text-align:start;
  /* display: block; */  
}

.login-input {  
  width: 100%;
  /* height: 56px; */
  border-radius:12px;
  padding:16px 24px 16px 24px;  
  /* gap:10px; */
  background-color: #F3F4F6;
  color: #9CA3AF;
  /* display: block; */
  /* font-size: 16px;
  line-height: 26px; */
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;  
  text-align:start;
  border-width:0;  
}



/* 참고 자료 */
/* 체크 박스가 선택되어 있으면 인접 형제 요소인 label 태그의 텍스트에 빨간 색 */
/* <style>
	input:checked + label{
    	color:red;
    }
</style> */

/* input placeholder에 값이 있을 때의 색깔
   input에 값이 입력되면 파란색으로 변경.
   비밀번호만 입력해도 색갈 파랗게 바뀜
   이메일 쓸때는 색깔 안바뀜 왜? */
.login-input:placeholder-shown + .login-button{
    background-color: #9CA3AF;
  }  

.login-input:focus {
  border-width: 1px;
  border-color: #3692FF;
  outline: none;  
}

/* .eyes {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 2px;
  height: 30px;
  font-size: 22px;
  cursor: pointer;
} */

.login-button {  
  width: 100%;
  /* height: 56px; */
  border-radius:40px;
  padding:16px 124px 16px 124px;
  /* gap:10px;   */
  /* background-color: #9CA3AF; */
  background-color: #3692FF;
  outline: none;  
  /* display: block; */
  color: #F3F4F6;
  /* display: block; */
  /* font-size: 20px;
  line-height: 32px; */
  /* font-weight: 600; */
  font-size: 1.25rem;
  /* 버튼이 섹션을 넘어가서 1.2rem으로 줄임 */
  /* line-height: 2rem; */
  line-height: 1.2rem;
  text-align:center;
  border-width:0;
  cursor:pointer;  
}
/* 
.login-button:hover { 
  background-color: #3692FF;
  outline: none;  
} */

.login-section3{
  background-color: #E6F2FF;   
  width:100%;
  height: 74px;  
  border-radius: 8px;
  padding: 16px 23px 16px 23px;
    
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  /* gap:10px; */
}

.login-section3-text {
  /* width:101px; */
  /* height: 26px; */
  font-weight: 500;  
  /* font-size: 16px; */
  font-size: 1rem;  
  /* line-height: 26px; */
  line-height: 1.63rem;
  text-align: left;
  color: #1F2937;
}

.login-section3-sns-layer {
  /* width:100px; */
  /* height:42px; */
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  /* align-items: flex-start; */
  gap:16px;
  /* margin:0 30 0 30; */
}

.login-item {
  width: 42px;
  height: 42px;
}

.login-item:hover {
  /* background-color: #ffffff;
  color: #000000; */
  cursor:pointer;
}

.login-section4{
  /* background-color: #0d68f1;  */
  background-color:#FCFCFC;
  width:100%;
  height:48px;
  
  padding: 24px 221.5x 0px 221.5px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap:4px;
}

.login-section4-txt {
  /* width:144px;
  height: 24px; */
  font-weight: 500;
  /* font-size: 14px; */
  font-size: 0.875rem;
  /* line-height: 24px; */
  line-height: 1.5rem;
  text-align: center;  
  color:#1F2937;
  /* cursor:pointer; */
}

.login-section4-signup-membership {
  /* width:49px;
  height: 17px; */
  font-weight: 500;
  /* font-size: 14px; */
  font-size: 0.875rem;
  /* line-height: 16.71px; */
  line-height: 1.044rem;
  color:#3692FF;
}









/******* Signup Page 만들기 *******/
.signup-layer{  
  /* background-color: #f10d0d;  */
  width: 640px;
  height: 842px;
  opacity: 0px;  
  margin-top: 231px;
  margin-left:auto;
  margin-right:auto;
}

.signup-section1-layer{
  /* background-color: #f1cf0d;  */  
  width:100%;
  height: 172px;
  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items:start;
  /* gap:16px; */    
}

#signup-panda-logo {
  width: 396px;  
  /* width: 61.87%;  */
  height:132px;
}

#signup-panda-logo:hover {
  /* background-color: #ffffff;
  color: #000000; */
  cursor:pointer;
}

.signup-section2-layer{  
  /* background-color: #33f10d;  */
  width:100%;
  height: 548px;
}

form {
  /* margin: 16px auto; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content:space-around; */
  /* align-items:center; */
  gap:24px; 
}

.signup-label{
  width:100%;
  /* height: 42px; */
  /* gap:10px; */
  color: #1F2937;
  font-weight: 700;
  /* font-size: 18px;
  line-height: 21.48px; */
  font-size: 1.125rem;
  /* line-height: 1.343rem; */
  line-height: 1.2rem;
  text-align:start;
  /* display: block; */  
}

.signup-input {  
  width: 100%;
  /* height: 56px; */
  border-radius:12px;
  padding:16px 24px 16px 24px;
  /* gap:10px; */
  background-color: #F3F4F6;
  color: #9CA3AF;
  /* display: block; */
  /* font-size: 16px;
  line-height: 26px; */
  font-weight: 400;
  font-size: 1rem;
  /* line-height: 1.3rem;   */
  line-height: 1.2rem;
  text-align:start;
  border-width:0;  
}

.signup-input:placeholder-shown + .signup-button{
    background-color: #9CA3AF;
  }  

.signup-input:focus {
  border-width: 1px;
  border-color: #3692FF;
  outline: none;  
}

.signup-button {  
  width: 100%;
  /* height: 56px; */
  border-radius:40px;
  padding:16px 124px 16px 124px;
  /* gap:10px;   */
  /* background-color: #9CA3AF; */
  background-color: #3692FF;
  outline: none;    
  color: #F3F4F6;
  /* display: block; */
  /* font-size: 20px;
  line-height: 24px; */
  /* font-weight: 600; */
  font-size: 1.25rem;
  /* 버튼이 섹션을 넘어가서 1.2rem으로 줄임 */  
  line-height: 1.2rem;
  text-align:center;
  border-width:0;
  cursor:pointer;
}

/* .signup-button:hover { 
  background-color: #3692FF;
  outline: none;
} */


.signup-section3-layer{
  background-color: #E6F2FF;   
  width:100%;
  height: 74px;  
  border-radius: 8px;
  padding: 16px 23px 16px 23px;
    
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  /* gap:10px; */
}

.signup-section3-text {
  /* width:101px; */
  /* height: 26px; */
  font-weight: 500;  
  /* font-size: 16px; */
  font-size: 1rem;  
  /* line-height: 26px; */
  line-height: 1.63rem;
  text-align: left;
  color: #1F2937;
}

.signup-section3-sns-layer {
  /* width:100px; */
  /* height:42px; */
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  /* align-items: flex-start; */
  gap:16px;
  /* margin:0 30 0 30; */
}

.signup-item {
  width: 42px;
  height: 42px;
}

.signup-item:hover {
  /* background-color: #ffffff;
  color: #000000; */
  cursor:pointer;
}

.signup-section4-layer{
  /* background-color: #0d68f1;  */
  background-color:#FCFCFC;
  width:100%;
  height:48px;
  
  padding: 24px 221.5x 0px 221.5px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap:4px;
}

.signup-section4-txt {
  /* width:144px;
  height: 24px; */
  font-weight: 500;
  /* font-size: 14px; */
  font-size: 0.875rem;
  /* line-height: 24px; */
  line-height: 1.5rem;
  text-align: center;  
  color:#1F2937;
  /* cursor:pointer; */
}

.signup-section4-login {
  /* width:49px;
  height: 17px; */
  font-weight: 500;
  /* font-size: 14px; */
  font-size: 0.875rem;
  /* line-height: 16.71px; */
  line-height: 1.044rem;
  color:#3692FF;
}