footer {
  width: 100%;
  height: 16rem;
  background-color: #111827;
  display: flex;
  justify-content: center;
  padding-top: 3.2rem;
}

#footerContent {
  width: 152rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  margin-left: 20rem;
  margin-right: 20rem;
}

#copyright {
  width: 12.2rem;
  height: 1.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.909rem;
  display: flex;
  text-align: center;
  color: #9CA3AF;
}

#info {
  width: 16.9rem;
  height: 1.9rem;
  gap: 3rem;
  opacity: 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.909rem;
  text-align: center;
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
}

#info a {
  text-decoration: none;
  color: #E5E7EB;
}

#socialIcons {
  list-style: none;
  padding-left: 0rem;
  margin-left: 1.6rem;
  display: flex;
  justify-content: space-between;
}

#socialIcons img {
  width: 2rem;
  height: 2rem;
  margin-right: 1.2rem;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

@media (max-width: 474px) {

  #copyright {
    position: relative;
    bottom: -40px;
  }

  #footerContent {
    margin-left: 21px;
    margin-right: 0rem;
  }

  #info {
    width: 156.9px;
    position: relative;
    left: -127px;
  }
}