/* PC 스타일: 1200px 이상 */
@media (min-width: 1200px) {
  :root {
    --card-width: 261px;
    --card-height: 370px;
    --card-small-width: 215px;
    --card-small-height: 311px;
  }
}

/* Tablet 스타일: 744px 이상 ~ 1199px 이하 */
@media (min-width: 744px) and (max-width: 1199.98px) {
  :root {
    --card-width: 343px;
    --card-height: 434px;
    --card-small-width: 215px;
    --card-small-height: 311px;
  }
}

/* Mobile 스타일: 375px 이상 ~ 743px 이하 */
@media (min-width: 375px) and (max-width: 743.98px) {
  :root {
    --card-width: 343px;
    --card-height: 434px;
    --card-small-width: 168px;
    --card-small-height: 264px;
  }
}

.card {
  width: var(--card-width);
  height: var(--card-height);
}

.image {
  width: var(--card-width);
  height: var(--card-width);
  object-fit: cover;
  margin-bottom: 16px;
  border-radius: 16px;
}

/* ------------------------ */

.card.small {
  width: var(--card-small-width);
  height: var(--card-small-height);
  margin-bottom: 40px;
  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    margin-bottom: 32px;
  }
}

.card.small > .image {
  width: var(--card-small-width);
  height: var(--card-small-width);
  object-fit: cover;
  margin-bottom: 14px;
}

.card.small .price {
  line-height: 3.7rem;
}

/* ------------------------ */

.name {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  /* Tablet 스타일: 744px 이상 ~ 1199px 이하 */
  @media (min-width: 744px) and (max-width: 1199.98px) {
    line-height: 2rem;
  }

  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    line-height: 2rem;
  }
}

.price {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 4.1rem;
  font-family: Pretendard;
  /* Tablet 스타일: 744px 이상 ~ 1199px 이하 */
  @media (min-width: 744px) and (max-width: 1199.98px) {
    line-height: 3.5rem;
  }

  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    line-height: 3.5rem;
  }
}

.likes {
  display: flex;
  align-items: center;
  gap: 4px;
}

.likeIcon {
  width: 13.4px;
  height: 12px;
  position: relative;
  top: 1.5px;
}

.likes > span {
  font-weight: 500;
  font-size: 1.2rem;
}
