@media (min-width: 1200px) {
  .card {
    --card-width: 261px; /* 데스크탑 크기 */
    --card-height: 370px;
  }
}

@media (min-width: 375px) and (max-width: 1199.98px) {
  .card {
    --card-width: 343px; /* 태블릿 & 모바일 크기 */
    --card-height: 434px;
  }
}

.card {
  width: var(--card-width);
  height: var(--card-height);
}

.image {
  width: var(--card-width);
  height: var(--card-width);
  object-fit: cover;
  margin-bottom: 16px;
}

.name {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 500;
  /* Tablet 스타일: 744px 이상 ~ 1199px 이하 */
  @media (min-width: 744px) and (max-width: 1199.98px) {
    line-height: 2rem;
  }

  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    line-height: 2rem;
  }
}

.price {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 4.1rem;
  font-family: Pretendard;
  /* Tablet 스타일: 744px 이상 ~ 1199px 이하 */
  @media (min-width: 744px) and (max-width: 1199.98px) {
    line-height: 3.5rem;
  }

  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    line-height: 3.5rem;
  }
}

.likes {
  display: flex;
  align-items: center;
  gap: 4px;
}

.likeIcon {
  width: 13.4px;
  height: 12px;
  position: relative;
  top: 1.5px;
}

.likes > span {
  font-weight: 500;
  font-size: 1.2rem;
}

/* ------------------------ */

.card.small {
  width: 215px;
  height: 311px;
  margin-bottom: 40px;
}

.card.small > .image {
  width: 215px;
  height: 215px;
  object-fit: cover;
  margin-bottom: 14px;
}

.card.small .price {
  line-height: 3.7rem;
}
