.signinContainer{
  padding: 24px 16px;
  max-width: 432px;
  margin: 0 auto;
}

.simpleSigninContainer {
  background-color: #e6f2ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 23px;
  margin: 24px 0;
}

.simpleSigninContainer h3{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.linkContainer{
  display: flex;
  gap: 16px;
}

.moveToLogin{
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.login{
  color: #3182f6;
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media (min-width: 744px) {
  .signinContainer{
    max-width: 640px;
    padding: 48px 0;
  }
}

@media (min-width:1200px) {
  .signinContainer{
    padding: 61px 0;
  }
}