.button {
    background: var(--color5);
    gap: 10px;
    border-radius: 8px;
    opacity: 1;
    color: var(--color1);
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 48px;
    cursor: pointer;
}

.button-def {
    min-width: 88px;
    min-height: 42px;
}

.button-alt {
    border-radius: 40px;
    opacity: 0px;
    line-height: 56px;
    margin-top: 32px;
}

.icon {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}