/* PC 스타일: 1200px 이상 */
@media (min-width: 1200px) and (max-width: 1440px) {
  section.register-product {
    height: calc(540px - 108px);
  }
  div.register_box {
    transform: scale(0.75);
    transform-origin: center;
  }
}

/* Tablet 스타일: 744px 이상 ~ 1199px 이하 */
@media (min-width: 744px) and (max-width: 1199.98px) {
  section.register_product {
    height: calc(540px - 40%);
  }
  div.register_box {
    transform: scale(0.6);
    transform-origin: center;
  }
  div.register_p {
    min-width: 336px;
  }
  div.register_p > span {
    font-size: 2.4rem;
  }
}

/* Mobile 스타일: 375px 이상 ~ 743px 이하 */
@media (min-width: 375px) and (max-width: 743.98px) {
  section.register_product {
    height: calc(540px - 100px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  div.register_box {
    height: 800px;
    flex-direction: column-reverse;
    justify-content: space-around;
    transform: scale(0.5);
    transform-origin: center;
  }
  div.register_p > span {
    font-size: 3rem;
  }
}

.register_product {
  background-color: #ffffff;
  height: 720px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid red; */
}

.register_box {
  width: 988px;
  /* position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* border: 1px solid red; */
  gap: 0 5%;
}

.register_box > img {
  width: 588px;
  /* display: inline-block; */
}

.register_p {
  width: 336px;
}

.register_p > span {
  display: inline-block;
  font-size: 1.8rem;
  color: #3692ff;
  font-weight: 700;
  margin-bottom: 12px;
}

.register_p > p {
  font-weight: 700;
  font-size: 4rem;
  line-height: 56px;
  margin-bottom: 24px;
  color: #374151;
}

.register_p > div {
  width: 353px;
  font-size: 2.4rem;
  line-height: 32px;
  color: #374151;
  font-weight: 500;
}
