.articleContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  width: 1200px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e7eb;
}
.articleContents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.articleMain {
  display: flex;
  gap: 8px;
}

.articleTitle {
  width: 1120px;
  height: 32px;
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.articleImgBox {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #f3f4f6;
}

.articleInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.leftInfo {
  display: flex;
  gap: 8px;
}

.profileImgBox {
  position: relative;
  width: 24px;
  height: 24px;
}

.name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4b5563;
}
.date {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #9ca3af;
}
.like {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6b7280;
}
