/* Login */
.loginContainerBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 640px;
  height: 618px;
  margin: 231px 640px 284px;
}

/* SignIn */
.signInContainerBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInContainer {
  width: 640px;
  height: 618px;
  margin: 60px 640px 178px;
}

/* Panda Logo */
.pandaLogoImgBox {
  width: 100%;
  height: 132px;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.pandaLogoImg {
  width: 396px;
  height: 132px;
}

/* Common Input */
.inputContentBox {
  position: relative;
  width: 100%;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 24px;
}

.titleText {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.inputBox {
  width: 640px;
  height: 56px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 24px 16px 24px;
  color: #1F2937;
  background-color: #F3F4F6;

  &:hover {
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 15%);
  }

  ;

  &:focus {
    border: 1px solid var(--mainColor);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 15%);
  }
}

.inputBox::placeholder {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #9CA3AF;
}

.inputBoxValid {
  width: 640px;
  height: 56px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 24px 16px 24px;
  color: #1F2937;
  background-color: #F3F4F6;
  border: 1px solid #F74747;

  &:focus {
    border: 1px solid #F74747;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 15%);
  }
}

.validMessage {
  font-size: 14px;
  font-weight: 600;
  color: #F74747;
  margin-top: 8px;
  margin-left: 25px;
}

.inputPasswordInvisibleIcon {
  width: 20.5px;
  height: 18.10px;
  background-image: url('/images/icons/invisible_eye.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  right: 26px;
}

.inputPasswordVisibleIcon {
  width: 20.5px;
  height: 18.10px;
  background-image: url('/images/icons/visible_eye.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 21px;
  right: 26px;
}

/* Register Button */
.registerButton {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 12.4rem 1.6rem 12.4rem;
  border-radius: 4rem;
  background-color: #9CA3AF;
  margin-bottom: 2.4rem;

  color: #F3F4F6;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));

  /* &:hover {
    background-color: var(--mainColor);
    transform: scale(1.009999);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  }

  ;

  &:active {
    background-color: #3ee4d6db;
    transform: scale(1)
  } */
}

.activeButton{
  background-color: var(--mainColor);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

/* Another Register  */
.signIncontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signInBox {
  display: flex;
  justify-content: center;
}

.signInTitle {
  font-size: 14px;
  font-weight: 600;
  margin-right: 4px;
  color: #1F2937;
}

.anotherLink {
  font-size: 14px;
  font-weight: 600;
  color: #3692FF;

  &:hover {
    color: #17cabbd0;
    text-decoration: underline;
  }

  ;

  &:active {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;
  }
}
