* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

body {
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#sec_login, #sec_signup {
  width:40%;
  max-height: 100%;
  min-width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, .simple_login, .move_box_title {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #1F2937;
}

input {
  width:100%;
  min-width: 360px;
  height:56px;
  border-radius: 12px;
  background-color: #f3f4f6;
  border: 0;
  padding: 16px 24px;
  
}

input:focus {
  border:2px solid #3692ff;
}

.logo {
  position: relative;
  min-width: 360px;
  bottom: 15px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%;
  min-width: 360px;
  height: auto;
}

.login_box , .signup_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.eyes {
  background-image: url('img/btn_visibility_off_24px.png');
  background-position: right 24px center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.btn {
  width:100%;
  height: 56px;
  background-color: #9CA3AF;
  border-radius: 40px;
  padding: 16px 124px;
  text-align: center;
  color: #f3f4f6;
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3692ff;
}

.simple_login {
  width: 100%;
  min-width: 360px;
  height: 74px;
  background-color: #E6F2FF;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 16px 23px;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
}

.sns_box {
  display: flex;
  gap: 16px;
}

.sns_box img {
  width: 42px;
  height: 42px;
}

.move_box {
  display: flex;
  position: relative;
  top:10px;
  align-items: center;
  text-align: center;
  left:35%;
  gap:5px;
  min-width: 360px;
}

.move_box_title , .move_box a {
  font-weight: 500;
  font-size: 14px;
}

#sec_signup {
  position: absolute;
  top:50px;
}

.signup_box {
  gap:24px;
  display:flex; 
  flex-direction: column;
  gap:10px;
  width: 100%;
}

.signup_box input {
  width: 100%;
}
