.article {
  width: 100%;
  height: 138px;
  background: #fcfcfc;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 24px;
  position: relative;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.imgBack {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.productImg {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.userImg {
  width: 24px;
  height: 24px;
}

.user {
  width: 190px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: #4b5563;
  gap: 8px;
  position: absolute;
  bottom: 25px;
}

.user > div:last-child {
  color: #9ca3af;
}

.likeBox {
  position: absolute;
  right: 5px;
  bottom: 25px;
  display: flex;
  align-items: center;
  color: #6b7280;
  gap: 8px;
  font-size: 1.6rem;
}

.likeImg {
  width: 20px;
  height: 17.48px;
}
