.article {
  width: 358px;
  height: 169px;
  background: #f9fafb;
  border-radius: 8px;
  position: relative;
  padding: 46px 24px 16px;
}

.label {
  position: absolute;
  top: 0;
  padding-left: 44px;
  width: 102px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background: #3692ff url("/ic_medal.png") no-repeat 24px / 16px;
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 0 0 16px 16px;
}

.title {
  width: 256px;
  height: 64px;
  line-height: 32px;
  font-weight: 600;
  font-size: 2rem;
  word-break: keep-all;
  margin-bottom: 25px;
}

.imgBack {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
  top: 46px;
}

.productImg {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.userImg {
  width: 24px;
  height: 24px;
}

.infoBar {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  color: #4b5563;
  display: flex;
  gap: 10px;
  position: relative;
}

.likeBox {
  display: flex;
  align-items: center;
  color: #6b7280;
  gap: 4px;
  font-size: 1.4rem;
}

.likeImg {
  width: 13.4px;
  height: 11.65px;
}

.date {
  font-size: 1.4rem;
  font-weight: 400;
  color: #9ca3af;
  position: absolute;
  right: 0;
}
