.footerBanner {
  background-color: #111827;
  margin-top: 100px;
  height: 160px;
  padding: 32px 200px 32px 200px;
}

.footerBannerContent {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.footerBannerMiddleContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footerBannerImgs {
  display: flex;
  gap: 12px;
}

.footerA {
  text-decoration: none;
  color: #e5e7eb;
}

.linkImgBox {
  position: relative;
  width: 20px;
  height: 20px;
}
