/* PC 스타일: 1200px 이상 */
@media (min-width: 1200px) {
}

/* Tablet 스타일: 744px 이상 ~ 1199px 이하 */
@media (min-width: 744px) and (max-width: 1199.98px) {
}

/* Mobile 스타일: 375px 이상 ~ 743px 이하 */
@media (min-width: 375px) and (max-width: 743.98px) {
}

.nav {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.gnb {
  height: 70px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  /* Tablet 스타일: 744px 이상 ~ 1199px 이하 */
  @media (min-width: 744px) and (max-width: 1199.98px) {
    margin: 0 auto;
    /* max-width: 696px; */
    width: 100%;
    padding: 0 15px;
  }
  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    margin: 0 auto;
    /* max-width: 344px; */
    width: 100%;
    padding: 0 15px;
  }
}

.logo {
  display: inline-block;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoImg {
  width: 40px;
  position: relative;
  margin-right: 8px;
  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    display: none;
  }
}

.logoTitle {
  width: 103px;
  font-family: rokaf;
  font-weight: 700;
  font-size: 2.56rem;
  color: #3692ff;
  display: inline-block;
  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    font-size: 2rem;
  }
}

.ul {
  list-style: none;
  width: 73%;
  text-align: left;
  padding: 0;
  margin-left: 15px;
}

.li {
  display: inline-block;
  text-align: center;
  width: 114px;
  height: 68px;
  line-height: 68px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #4b5563;
  padding: 0 15px;
  cursor: pointer;
  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    padding: 0;
    width: 74px;
    font-size: 1.6rem;
  }
}

.active {
  color: #3692ff;
}

.li:hover {
  background-color: #f8f8f8;
}

.login {
  width: 128px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  display: inline-block;
  font-weight: 600;
  color: #f3f4f6;
  background-color: #3692ff;
  border-radius: 8px;
  font-size: 1.6rem;
  cursor: pointer;
  /* Mobile 스타일: 375px 이상 ~ 743px 이하 */
  @media (min-width: 375px) and (max-width: 743.98px) {
    width: 88px;
  }
}

.userProfile {
  margin-left: 88px;
  width: 40px;
  height: 40px;
}

.avatar {
  width: 40px;
  object-fit: cover;
}
