@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
.likeBt {
    display: flex;
    padding: 12px 23px 12px 23px;
    height: 20px;
    line-height: 26px;
    border-radius: 8px;
    background-color: #3692FF;
    color: #F3F4F6;
    /* 위에 커서 두면 클릭 커서로 바뀜 */
    cursor: pointer;
    /* div 안에 정중앙 정렬 */
    justify-content: center;
    align-items: center;
    
}