@import url('../base/variables.css');

footer {
  min-height: 160px;
  padding: var(--padding-8) var(--padding-50);
  margin: 0 auto;
  ul {
    max-width: 1520px;
    margin: 0 auto;
  }
}
@media (max-width: 744px) {
  footer {
    padding: var(--padding-8) var(--padding-6);
  }
}
@media (max-width: 375px) {
  footer {
    padding: var(--padding-8) var(--padding-4);
  }
  footer ul {
    flex-wrap: wrap;
    row-gap: var(--padding-6);
    li:first-child {
      order: 2;
    }
  }
}
