@import url('../base/variables.css');

form label {
  font-weight: var(--font-weight-bold);
}

input {
  background-color: var(--color-gray100);
  color: var(--color-gray800);
  padding: 15px 24px;
  border-radius: var(--border-radius-lg);
  outline: none;
  border: none;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
}

input::placeholder {
  color: var(--color-gray400);
}

input:focus {
  outline: var(--color-primary100) solid 1px;
}

input:user-invalid {
  outline: var(--color-error) solid 1px;
}

.form-error-msg {
  color: var(--color-error);
  font-size: 15px;
  font-weight: var(--font-weight-semibold);
}