/* global */
* {
  box-sizing: border-box;
}

:root {
  --mainColor: #3692FF;
}

html {
  font-size: 10px;
  font-family: 'Pretendard-Regular';
  font-style: normal;
}

/* main */
main {
  display: flex;
  justify-content: center;
}

#mainContent {
  max-width: 120rem;
  height: 120.6rem;
  margin-top: 2.6rem;
  margin-bottom: 14rem;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

/* Best Products List */
#bestProdsList {
  width: 120rem;
  display: flex;
  justify-content: space-between;
}

/* Products List */

/* Products List Head */
#prodsList {
  width: 120rem;
  height: 74rem;
  margin-top: 4rem;
}

#prodsListHead {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

#title {
  margin-bottom: 2.9rem;
}

.none {
  display: none;
}

#formContain {
  width: 62.2rem;
}

input {
  width: 32.5rem;
  height: 4.2rem;
  padding: 0.9rem 2rem 0.9rem 3.3rem;
  border-radius: 1.2rem;
  border: none;
  background-color: #F3F4F6 !important;
  background: url('../../img/icons/Vector.png') no-repeat;
  background-size: 1.5rem;
  background-position: 1.2rem;
}

#serchInput:focus {
  outline: none;
  filter: drop-shadow(0 0 0.30rem rgba(0, 0, 0, 0.273));
}

input::placeholder {
  color: #9CA3AF;
}

#addProdButton {
  background-color: var(--mainColor);
  width: 13.3rem;
  height: 4.2rem;
  margin-left: 1.2rem;
  border-radius: 0.8rem;
  border: none;
  color: #F3F4F6;
  font-size: 1.6rem;
  font-weight: 300;
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

#addProdButton:hover {
  background-color: #3ee4d7;
}

.filterMenu {
  background-color: #FFFFFF;
  width: 13.3rem;
  height: 4.2rem;
  border-radius: 1.2rem;
  border: 0.1rem solid #E5E7EB;
  cursor: pointer;
  padding-right: 6rem;
  margin-left: 1.2rem;
  position: relative;
}

.filterMenu:hover {
  background-color: #ffffffc7;
  filter: drop-shadow(0 0 0.55rem rgba(0, 0, 0, 15%));
}

#filterMenuRecent {
  padding-right: 0;
  margin-left: 0;
  border-radius: 1.2rem 1.2rem 0 0;
  background-color: rgba(255, 255, 255, 0.975);
}

#filterMenuLike {
  border-radius: 0 0 1.2rem 1.2rem;
  padding-right: 0;
  margin-left: 0;
  position: relative;
  right: 13.3rem;
  bottom: -4.0rem;
  background-color: rgba(255, 255, 255, 0.975);
}

#filterMenuBox {
  position: relative;
  right: -84.39999999999999999999rem;
  bottom: -5rem;
  z-index: 1;
}

#arrowImg {
  width: 1.57rem;
  height: 0.802rem;
  position: absolute;
  right: 2.7rem;
  top: 1.7rem;
}

#arrowImg:hover {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

/* Products List */
#componentBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Page Number */
#pageNumBox {
  width: 30.4rem;
  height: 4rem;
  position: relative;
  right: -45rem;
  bottom: -1rem;
}

#pageNumBox button {
  width: 4rem;
  height: 4rem;
  background-color: #FFFFFF;
  border: 0.1rem solid #E5E7EB;
  border-radius: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #6B7280;
  margin-right: 0.4rem;
  cursor: pointer;
}

#pageNumBox button:hover {
  background-color: #2F80ED;
  color: #F9FAFB;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

#pageNumBox img {
  width: 0.6rem;
  height: 1rem;
  position: relative;
  left: -0.1rem;
  top: -0.2rem;
}

/* 검색한 상품이 없을 때 */
#emptyPrdsBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyContentBox{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  height: 30rem;
  font-size: 2rem;
  color: #9CA3AF;
}