* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner {
  /* border: 1px solid red; */
  margin: 26px auto 800px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.top_inner {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 24px; */
}

.top_inner > button {
  width: 74px;
  height: 42px;
  background-color: #9ca3af;
  border: none;
  border-radius: 8px;
  color: #f3f4f6;
  font-size: 16px;
  line-height: 26px;
}

.content_inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}

.box {
  width: 100%;
  height: 56px;
  background-color: #f3f4f6;
  border-radius: 12px;
  line-height: 26px;
  padding-left: 24px;
  /* padding-top: 16px; */
  color: #9ca3af;
  border: none;
}

.box.big {
  height: 282px;
  position: relative;
}

.box.big::placeholder {
  position: absolute;
  top: 16px;
}

span {
  font-size: 16px;
  font-weight: 400;
}

.tag_mini_inner {
  margin-top: 14px;
  display: flex;
  gap: 12px;
}

.mini_box {
  width: 110px;
  height: 36px;
  border-radius: 26px;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini_box > p {
  font-size: 16px;
  font-weight: 400;
}

.mini_box > button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: none;
  background-color: #9ca3af;
  margin-left: 9px;
}

.x {
  display: inline-block;
  color: #f9fafb;
}

.x::after {
  display: inline-block;
  content: "\00d7";
  font-size: 19px;
  color: #f9fafb;
}

.input_img {
  width: 282px;
  height: 282px;
  background-color: #f3f4f6;
  border-radius: 12px;
  position: relative;
}

.input_img > input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

.aa::placeholder {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus_button {
  position: absolute;
  width: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus_button img {
  width: 100%;
}

@media (max-wdith: 744px) {
  body {
    background-color: red;
  }
}
@media (max-wdith: 1200px) {
  body {
    background-color: black;
  }
}
