.editDeletMenuBox {
  width: 139px;
  height: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6px;
  top: 30px;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 15%);

  &:hover {
    background-color: #00000005;
    transform: scale(1.1);
    transition: background-color 0.2s ease-in-out, transform 0.3s ease;
  }

  ;

  &:active {
    background-color: #f9fafb17;
    transform: scale(1)
  }
}

.editMenu {
  width: 100%;
  height: 47px;
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid #D1D5DB;
  border-right: 1px solid #D1D5DB;
  border-left: 1px solid #D1D5DB;
  border-radius: 8px 8px 0 0;
  color: #6B7280;
  background-color: #FFFFFF;

  &:hover {
    color: #3692FF;
  }
}

.deletMenu {
  width: 100%;
  height: 47px;
  font-size: 16px;
  font-weight: 400;
  border-right: 1px solid #D1D5DB;
  border-left: 1px solid #D1D5DB;
  border-bottom: 1px solid #D1D5DB;
  border-radius: 0 0 8px 8px;
  color: #6B7280;
  background-color: #FFFFFF;

  &:hover {
    color: #3692FF;
  }
}