:root {
  /* Gray scale */
  --gray-900: #1b1d1f;
  --gray-800: #26282b;
  --gray-600: #454c53;
  --gray-500: #72787f;
  --gray-400: #9ea4a8;
  --gray-200: #e5e7eb;
  --gray-100: #e8ebed;
  --gray-50: #f7f7f8;

  /* Primary color */
  --mainColor: #3692ff;

  --header-height: 70px;
}

.nav {
  position: fixed;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid #DFDFDF;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  padding-left: 18rem;
  padding-right: 18rem;
  z-index: 1;
}

#navContent {
  height: 5.1rem;
  width: 100%;
  /* min-width: 74.4rem; */
  display: flex;
  justify-content: space-between;
}

#pandaLogoImg {
  width: 15.3rem;
  height: 5.1rem;
}

#pandaLogoText {
  display: none;
}

#textBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 34rem;
  min-width: 27.1rem;
}

.text {
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  list-style-type: none;
  margin: 1.5rem 0;
  margin-right: 1.5rem;
}

.text>a {
  text-decoration: none;
  color: #4B5563;
}

#loginButtn {
  text-decoration: none;
  min-width: 12.8rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3F4F6;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

#loginButtn:hover {
  background-color: #3ee4d7;
}

@media (max-width: 1300px) {
  .nav {
    padding-left: 2rem;
    padding-right: 5rem;
  }

  #textBox {
    position: absolute;
      left: 18rem;
  }
}

/* 태블릿 스타일 */
@media (max-width: 750px) {
  .nav {
    padding-left: 1rem;
    padding-right: 3rem;
  }

  #navContent {
    height: 5.1rem;
    width: 100%;
    min-width: 39.5rem;
    display: flex;
    justify-content: space-between;
  }

  #textBox {
    position: absolute;
    left: 15rem;
    bottom: 22px;
  }
}

@media (max-width: 600px) {
  .text {
    font-weight: 680;
    font-size: 18px;
  }

  #textBox {
    position: absolute;
    left: 16rem;
    bottom: 22px;
    min-width: 20.1rem;
}

#loginButtn {
  min-width: 9.8rem;
}
}

@media (max-width: 474px) {
  .nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #navContent {
    height: 5.1rem;
    width: 100%;
    min-width: 37.5rem;
    display: flex;
    justify-content: space-between;
  }

  #textBox {
    position: absolute;
    left: 12rem;
  }

  #loginButtn {
    min-width: 9rem;
    position: relative;
    left: -8px;
  }

  #pandaLogoImg {
    display: none;
  }

  #pandaLogoText {
    display: block !important;
    position: relative;
    bottom: -7px;
    width: 11.3rem;
    height: 4.1rem;
  }
}