:root{
    --cool-gray100: #F3F4F6;
    --cool-gray200: #9CA3AF;
    --blue100: #E6F2FF;
    --blue200: #3692FF;
}

.inner{
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
}

.logo{
    max-width: 400px;
}

.logo > a > img{
    width: 100%;
}

button{
    border: none;
    background: none;
}

.login_bt_change{
    background-color: var(--blue200);
    color: var(--cool-gray100);
}

.login_inner{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    align-items: center;
    /* min-width: 480px; */
    /* width: 50%; */
    align-items: center;
    justify-content: center;
}

.login_inner .e_mail, .login_inner .password{
    width: 67.3%;
    min-width: 640px;
}

.login_inner p{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    display: inline-block;
}

.box{
    border: none;
    background-color: var(--cool-gray100);
    /* padding: 20px 24px; */
    display: flex;
    align-items: center;
    border-radius: 12px;
    margin-top: 16px;
    /* width: 100%; */
}

.box > input{
    border: none;
    background-color: transparent;
    /* padding: 0; */
    padding: 20px 24px;
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.box .btnVisibility{
    margin-right: 10px;
} 

input:focus{
    /* outline: 1px solid var(--blue200); */
    outline: none;
}

input:focus::placeholder{
    color:transparent;
}

input::placeholder{
    color: var(--cool-gray200);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.login_bt{
    background-color: var(--cool-gray200);
    justify-content: center;
    color: var(--cool-gray100);
    border-radius: 40px;
    width: 100%;
    /* width: 640px; */
    height: 56px;
    /* padding: 12px 24px; */
    
}

.login_bt:hover{
    background-color: var(--blue200);
    color: var(--cool-gray100);
}

.login_bt > a{
    font-size: 20px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    color: var(--cool-gray100);
    height: 100%;
    line-height: 56px;
}

.simple_login{
    background-color: var(--blue100);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 67.3%; */
    width: 100%;
}

.simple_login span{
    font-size: 16px;
    font-weight: 500;
    margin-left: 24px;
}

.simple_login .bts{
    display: flex;
    gap: 10px;
    margin: 12px 24px;
}

.login_inner .txt p, a{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.login_inner .txt a{
    color: var(--blue200);
    line-height: 16px;
}

.modal_bg{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    
}

.modal{
    width: 540px;
    height: 250px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 8px;
}

.modal span{
    line-height: 240px;
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.modal button{
    width: 120px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--blue200);
    color: #fff;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.hidden{
    visibility: hidden;
}

.visible {
    visibility: visible;
}



@media (min-width: 744px){
    .inner{
        padding: 0 16px;
        width: 100%;
    }

    .login_inner {
        min-width: 640px;
    }

    .logo{
        min-width: 400px;
    }

    .login_inner .e_mail, .password{
        width: 100%;
    }
    
}


@media (min-width: 375px){
    .inner{
        padding: 0 16px;
        /* width: 100%; */
    }

    .login_inner {
        /* border: 1px solid red; */
        min-width: 340px;
        width: 100%;
    }

    .login_inner .e_mail, .login_inner .password{
        min-width: 340px;
        width: 100%;
    }
}
