@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

.bestproduct{
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-decoration: none;
}

.p{
    display: flex;
    flex-direction: column;
}

.name{
    font-family: pretendard;
    font-size: 1.4rem;
    font-weight: 500;
    color: #1F2937;
    list-style: none;
    margin-top: 1.6rem;
    height: 2.4rem;
}

.price{
    font-family: pretendard;
    font-weight: 500;
    font-size: 1.2rem;
    color: #4B5563;
    list-style: none;
    height: 1.8rem;
}

.favorite{
    display: flex;;
}