@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root{
    font-size: 10px;
  }

  .footer{
    background-color: #111827;
    color: #9ca3af;
    font-size: 1.6rem;
    padding: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;  
  }


.footermenu{
    display: flex;
    gap: 3rem;
    color: #e5e7eb;
  }
  
  .sns{
    display: flex;
    gap:1.2rem;
  }
  
  .fline{
    text-decoration: none;
    color: #e5e7eb;
  }