@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root{
    font-size: 10px;
  }

.footermenu{
    display: flex;
    gap: 3rem;
  }
  
  .sns{
    display: flex;
    gap:1.2rem;
  }
  
  .fline{
    text-decoration: none;
    color: #e5e7eb;
  }