@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root{
    font-size: 10px;
  }

  .title{
    font-family: pretendard;
    font-weight: 700;
    font-size: 2rem;
  }

  .register{
    border-radius: 8px;
    background-color: #3692FF;
    color: #F3F4F6;
    font-family: pretendard;
    font-size: 1.6rem;
    font-weight: 600;
    gap: 1rem;
    padding: 1.2rem 2.3rem;
    border: none;
    margin-right: 1.5rem;
  }

  .enterInput{
    border-radius: 12px;
    padding: 0.9rem 2rem 0.9rem 1.6rem;
    gap: 1rem;
    font-family: pretendard;
    font-weight: 400;
    font-size: 1.6rem;
    border: none;
    background-color: #F3F4F6;
    margin-right: 1.5rem;
  }

  .vectorImg{
    position: absolute;
    margin-left: 0.5rem;
  }
  
  .search{
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .bundle{
    display: flex;
    justify-content: space-around;
  } 
  
   .bunch{
    display: flex;
    justify-content: space-around;
  } 

  .bestProduct{
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
  }
  