@import url('variables.css');

@font-face {
  font-family: 'pretendard';
  src: url('static/font/Pretendard-Regular.subset.woff') format('woff');
}

.underline {
  text-decoration: underline;
}

.text-4xl {
  font-size: var(--font-size-4xl);
  line-height: var(--line-height-4xl);
}

.text-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
}

.text-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
}

.text-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
}

.text-2lg {
  font-size: var(--font-size-2lg);
  line-height: var(--line-height-2lg);
}

.text-lg {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.text-md {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.text-sm {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.text-xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

@media (min-width: 376px) {
  .sm-text-4xl {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-4xl);
  }
  .tb-text-3xl {
    font-size: var(--font-size-3xl);
    line-height: var(--line-height-3xl);
  }
  .tb-text-2lg {
    font-size: var(--font-size-2lg);
    line-height: var(--line-height-2lg);
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (min-width: 745px) {
  .dt-text-4xl {
    font-size: var(--font-size-4xl);
    line-height: var(--line-height-4xl);
  }
  .dt-text-2xl {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-2xl);
  }
}