
/* Layout */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.shrink-0 {
  flex-shrink: 0;
}
.min-h-screen {
  min-height: 100vh;
}

/* Alignment */
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}

/* Padding */
.pt-3 {
  padding-top: var(--padding-3);
}
.pt-50 {
  padding-top: var(--padding-50);
}
.py-4 {
  padding-top: var(--padding-4);
  padding-bottom: var(--padding-4);
}
.px-23 {
  padding-left: 23px;
  padding-right: 23px;
}
.px-31 {
  padding-left: var(--padding-31);
  padding-right: var(--padding-31);
}
/* Margin */
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Gap */
.gap-3 {
  gap: var(--padding-3);
}
.gap-4 {
  gap: var(--padding-4);
}
.gap-6 {
  gap: var(--padding-6);
}
.gap-7\.5 {
  gap: var(--padding-7\.5);
}
.gap-10 {
  gap: var(--padding-10)
}

/* Width */
.w-full {
  width: 100%;
}

/* Border */
.rounded-lg {
  border-radius: var(--border-radius-lg);
}

/* Media Queries */
@media (max-width: 744px) {
  .md-none {
    display: none;
  }
}