:root {
  /* Font Sizes */
  --font-size-2lg: 18px;
  --font-size-2xl: 24px;
  --font-size-3xl: 32px;
  --font-size-4xl: 40px;
  --font-size-lg: 16px;
  --font-size-md: 14px;
  --font-size-sm: 13px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --line-height-2lg: 26px;
  --line-height-2xl: 32px;
  --line-height-3xl: 42px;
  --line-height-4xl: 56px;
  --line-height-lg: 26px;
  --line-height-md: 24px;
  --line-height-sm: 22px;
  --line-height-xl: 32px;
  --line-height-xs: 18px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Colors */
  --color-bg-main: #CFE5FF;
  --color-bg-base: #FCFCFC;
  --color-bg-label: #E6F2FF;
  --color-bg-footer: #111827;
  --color-bg-primary: #3692FF;
  --color-primary100: #3692FF;
  --color-primary200: #1967D6;
  --color-primary300: #1251AA;
  --color-gray900: #111827;
  --color-gray800: #1F2937;
  --color-gray700: #374151;
  --color-gray600: #4B5563;
  --color-gray500: #6B7280;
  --color-gray400: #9CA3AF;
  --color-gray200: #E5E7EB;
  --color-gray100: #F3F4F6;
  --color-gray50: #F9FAFB;
  --color-white: #FFFFFF;
  --color-border: #DFDFDF;

  /* Padding */
  --padding-1: 0.25rem; /* 4px */
  --padding-2: calc(var(--padding-1) * 2);
  --padding-2\.5: calc(var(--padding-1) * 2.5);
  --padding-3: calc(var(--padding-1) * 3);
  --padding-4: calc(var(--padding-1) * 4);
  --padding-4\.5: calc(var(--padding-1) * 4.5);
  --padding-5: calc(var(--padding-1) * 5);
  --padding-6: calc(var(--padding-1) * 6);
  --padding-7\.5: calc(var(--padding-1) * 7.5);
  --padding-8: calc(var(--padding-1) * 8);
  --padding-10: calc(var(--padding-1) * 10);
  --padding-11: calc(var(--padding-1) * 11);
  --padding-12: calc(var(--padding-1) * 12);
  --padding-13: calc(var(--padding-1) * 13);
  --padding-15: calc(var(--padding-1) * 15);
  --padding-15\.5: calc(var(--padding-1) * 15.5);
  --padding-16: calc(var(--padding-1) * 16);
  --padding-17: calc(var(--padding-1) * 17);
  --padding-17\.5: calc(var(--padding-1) * 17.5);
  --padding-21: calc(var(--padding-1) * 21);
  --padding-31: calc(var(--padding-1) * 31);
  --padding-33: calc(var(--padding-1) * 33);
  --padding-33\.5: calc(var(--padding-1) * 33.5);
  --padding-34: calc(var(--padding-1) * 34);
  --padding-34\.5: calc(var(--padding-1) * 34.5);
  --padding-35: calc(var(--padding-1) * 35);
  --padding-35\.5: calc(var(--padding-1) * 35.5);
  --padding-40: calc(var(--padding-1) * 40);
  --padding-49\.5 : calc(var(--padding-1) * 49.5);
  --padding-50: calc(var(--padding-1) * 50);
  --padding-52: calc(var(--padding-1) * 52);
  --padding-53: calc(var(--padding-1) * 53);
  --padding-89: calc(var(--padding-1) * 89);
  --padding-101: calc(var(--padding-1) * 101);

  /* Border Radius */
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 40px;

  /* Break Points */
  --breakpoint-mb: 375px;
  --breakpoint-tb: 744px;
  --breakpoint-pc: 1200px;
}