/* section3 */
.content3 {
  height: 44.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FCFCFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 98.8rem;
}

.content3 .textBox {
  min-width: 39.5rem;
  margin-left: 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content3 .imgBox {
  max-width: 58.8rem;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

.content3 .imgBox img {
  width: 100%;
  height: auto;

  &:hover {
    transform: scale(1.1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  }
}

.content3 .textBox .register {
  width: 7.2rem;
  height: 2.6rem;
  color: var(--mainColor);
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.content3 .textBox .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content3 .textBox .text .bigtext {
  margin-bottom: 2.4rem;
  flex-wrap: wrap;
}

.content3 .textBox .text .bigtext .text1 {
  font-size: 4.0rem;
  font-weight: 700;
  line-height: 5.6rem;
  text-align: left;
  color: #374151;
}

.content3 .textBox .text .smalltext {
  flex-wrap: wrap;
}

.content3 .textBox .smalltext .text1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: left;
  color: #374151;
}

@media (max-width: 750px) {
  .whiteColorSection .content3 {
    height: 76.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #FCFCFC;
  }

  .content3 .textBox {
    margin-left: 0rem;
  }
}