.productPost{
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #1F2937;
}

.postButton{
  border-radius: 8px;
  padding: 12px 23px;
  background-color: #3692ff;
  color: #f3f4f6;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6;
}

.postWrapper{
  width: 1200px;
  margin-left: 360px;
  margin-right: 360px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}