@import "reset.css";

@media screen and (max-width: 1199px) {

    header {
        width: calc(100% - 48px);
        min-width: 750px;
        margin: 9.5px 24px;
    }

    /* main1 미디어쿼리 적용 */
    .main1-contain {
        flex-wrap: wrap;
    }

    .main1-text {
        font-size: 2rem;
        width: 100%;
    }

    .main1-text br {
        display: none;
    }

    /* main2미디어쿼리 적용 */
    .main2-contain {
        justify-content: flex-start;
        margin-right: 32px;
        margin-left: 32px;
    }

    .main2-contain img {
        width: 100%;
    }
    .main2-text2 br {
        display: none;
    }


    /* main3 미디어쿼리 적용 */
    .main3-contain {
        justify-content: flex-end;
        margin-right: 32px;
        margin-left: 32px;
        flex-wrap: wrap-reverse;
    }

    .main3-contain img {
        width: 100%;
    }

    .main3-text2 br {
        display: none;
    }

    /* 메인4 미디어쿼리 적용 */

    .main4-contain {
        justify-content: flex-start;
        margin-right: 32px;
        margin-left: 32px;
    }

    .main4-text2 br {
        display: none;
    }

    .main4-contain img {
        width: 100%;
    }


    /* 메인5 미디어쿼리 적용 */
    .main5-contain {
        flex-wrap: wrap;
    }

    .main5-text {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }

    .footer-box {
        margin-left: 16px;
        margin-right: 16px;
    }
}


@media screen and (max-width: 744px) {

    header {
        min-width: 375px;
    }
    .main1-text br {
        display: inline;
    }

    .main1-contain {
        flex-wrap: wrap;
    }

    .main1-text {
        text-align: center;
        justify-content: center;
    }

    .main2-text2 {
        font-size: 1.7rem;
    }

    .main2-text3 {
        font-size: 1.27rem;
        
    }

    .main2-text2 br {
        display: none;
    }


    .main3-text2 {
        font-size: 1.7rem;

    }

    .main3-text3 {
        font-size: 1.27rem;

    }


    .main3-text2 br {
        display: none;
    }

    .main4 {

        justify-content: space-between;
        align-items: space-between;
    }

    .main4-text2 {
        font-size: 1.7rem;
    }

    .main4-text3 {
        font-size: 1.27rem;
    }

    .main4-text2 br {
        display: none;
    }

    .main5-text {
        font-size: 2rem;
    }

}