.articleSearchInput {
  width: 100%;
  height: 42px;
  padding: 9px 20px 9px 16px;
  border-radius: 12px;
  padding-left: 44px;
  background-color: #F3F4F6;
  background-image: url("/images/icons/Vector.png");
  background-size: 17px 17px;
  background-position: left 20px center;
  background-repeat: no-repeat;

  &:focus {
    outline: none;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 15%);
  }

  ;

  &:hover{
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 15%);
  }
}