.loginContainerBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 640px;
  height: 618px;
  margin: 231px 640px 284px;
}

.pandaLogoImgBox {
  width: 100%;
  height: 132px;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.pandaLogoImg {
  width: 396px;
  height: 132px;
}

.inputContentBox {
  position: relative;
  width: 100%;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 24px;
}

.titleText {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.inputBox {
  width: 640px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  color: #1F2937;
  background-color: #F3F4F6;

  &:hover {
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 15%);
  }

  ;
  
  &:focus {
    outline: none;
    border: 1px solid var(--mainColor);
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 15%);
  }
}

.inputBox::placeholder {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #9CA3AF;
}

.inputPasswordInvisibleIcon {
  width: 20.5px;
  height: 18.10px;
  background-image: url('/images/icons/invisible_eye.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  right: 26px;
}

.inputPasswordVisibleIcon {
  width: 20.5px;
  height: 18.10px;
  background-image: url('/images/icons/visible_eye.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 21px;
  right: 26px;


}

.loginButton {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 12.4rem 1.6rem 12.4rem;
  border-radius: 4rem;
  background-color: #9CA3AF;
  margin-bottom: 2.4rem;

  color: #F3F4F6;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));

  &:hover {
    background-color: var(--mainColor);
    transform: scale(1.009999);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  }

  ;

  &:active {
    background-color: #3ee4d6db;
    transform: scale(1)
  }
}

.simpleLoginBox {
  width: 100%;
  height: 74px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px 23px;
  margin-bottom: 24px;
  background-color: #E6F2FF;
}

.simpleLogintTitle {
  font-size: 16px;
  font-weight: 500;
  color: #1F2937;
  text-align: center;
  display: flex;
  align-items: center;
}

.socialLogoImgBox {
  display: flex;
}

.socialLogoImg {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 16px;

  &:hover {
    filter: drop-shadow(0 0 0.45rem rgba(0, 0, 0, 15%));
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  ;

  &:active {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;
  }
}

.signIncontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.signInBox {
  display: flex;
  justify-content: center;
}

.signInTitle {
  font-size: 14px;
  font-weight: 600;
  margin-right: 4px;
  color: #1F2937;
}

.signInLink {
  font-size: 14px;
  font-weight: 600;
  color: #3692FF;

  &:hover {
    color: #17cabbd0;
    text-decoration: underline;
  }

  ;

  &:active {
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;
  }
}











/* logo img */
.content .imgbox {
  width: 39.6rem;
  height: 13.2rem;
  margin: auto;
  margin-bottom: 4rem;
}

.content .imgbox img {
  width: 100%;
  height: 100%;
}

/* email */
.inputEmail {
  width: 100%;
  height: 12.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputEmail .text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 1.6rem;
  text-align: left;
}

.inputEmail .box {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  gap: 1rem;
  border-radius: 1.2rem;
  background-color: #F3F4F6;
  font-size: 1.6rem;
  font-weight: 40rem;
  line-height: 2.6rem;
  text-align: left;
  border: none;
  outline: none;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

.inputEmail input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  text-align: left;
  color: #9CA3AF;
}

.inputEmail .box:focus {
  border: 0.1rem solid var(--mainColor);
  color: #1F2937;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: left;
  font-weight: 500;
}

/* password */
.inputPassword {
  width: 100%;
  height: 12.4rem;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column;/ */
  position: relative;
  margin-top: 2.4rem;
}

.inputPassword .text {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: left;
}

.inputPassword .box {
  width: 100%;
  height: 5.6rem;
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  gap: 1rem;
  border-radius: 1.2rem;
  background-color: #F3F4F6;
  font-size: 1.6rem;
  font-weight: 40rem;
  line-height: 2.6rem;
  text-align: left;
  border: none;
  outline: none;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}



.inputPassword img {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.349rem 0.174rem 0.244rem 0.179rem;
  position: absolute;
  bottom: 3.6rem;
  right: 2.4rem;
}

 .simpleLogin {
  width: 100%;
  height: 7.4rem;
  padding: 1.6rem 2.3rem 1.6rem 2.3rem;
  gap: 1rem;
  border-radius: 0.8rem;
  background-color: #E6F2FF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
}

.simpleLogin .simpleContentBox {
  width: 100%;
  height: 4.2rem;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

.simpleLogin .simpleContentBox .text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-align: center;
  color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simpleLogin .simpleContentBox .logo {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  height: 100%;
}

.simpleLogin .simpleContentBox .logo img {
  width: 4.2rem;
  height: 4.2rem;
}

/* newMember */
.newMember {
  height: 2.4rem;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newMember a {
  color: var(--mainColor);
}

/* errorBox */
.errorBox {
  border: 0.1rem solid #F74747 !important;
  margin-top: 1.4rem;
}

.errorText {
  font-size: 1.5rem;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.79rem;
  text-align: left;
  margin-top: 0.8rem;
  margin-left: 1.6rem;
  height: 1.8rem;
  color: #F74747;
}