.postWrapper{
  width: 384px;
  height: 169px;
  border-radius: 8px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #F9FAFB;
}

.postTitle{
  font-weight: 600;
  font-size: 20px;
  color: #1F2937;
}

.postImage{
  border-radius: 6px;
  border: 1px solid #E5E7EB;
  background-color: #FFFFFF;
}

.postNickname{
  font-size: 14px;
  font-weight: 400;
  color: #4B5563;
}

.postFavoriteCount{
  font-weight: 400;
  font-size: 14px;
  color: #6B7280;
}

.postCreateAt{
  font-size: 14px;
  font-weight: 400;
  color: #9CA3AF;
}

.titleContainer{
  display: flex;
}

.contentContainer{
  display: flex;
  justify-content: space-between;
}

.bestWrapper{
  width: 102px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 2px 24px;
  background-color: #3692ff;
}

.bestText{
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
