.commentListWrapper{
  width: 1200px;
  margin-left: 360px;
}

.commentContent{
  font-size: 14px;
  font-weight: 400;
  color: #1f2937;
}

.commentWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userImage{
  background-color:#9Ca3af;
  border-radius: 50px;
}

.userName{
  font-size: 12px;
  font-weight: 400;
  color: #4b5563;
}

.hour{
  font-weight: 400;
  font-size: 12px;
  color: #9ca3af;
}

.aboutWrapper{
  display: flex;
  
}