.postWrapper{
  width: 1200px;
  display: flex;
  list-style-type: none;
  text-align: left;
}

.titleContainer{
  margin-top: 20px;
}

.postTitle{
  width: 1120px;
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.postNickname{
  width: 65px;
  font-size: 14px;
  font-weight: 400;
  color: #4b5563;
  margin-left: 10px;
}

.postImage{
  border-radius: 8px;
  border: 1px solid #f3f4f6;
}

.contentContainer{
  display: flex;
  justify-content: space-between;
}

.firstSection{
  display: flex;
}

.userImage{
  width: 24px;
  height: 24px;
  background-color: #9ca3af;
  border-radius: 50px;
}

.postCreateAt{
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #9ca3af;
}

.contentWrapper{
  margin-bottom: 15px;
}

.heartPart{
  display: flex;
}

.favoriteCount{
  font-size: 16px;
  font-weight: 400;
  color: #6b7280;
  margin-right: 10px;
  margin-left: 5px;
}