@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url(../root.css);

html{
    font-size:10px;
}

.main{
    margin:7rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stext{
    font-family: pretendard;
    font-weight: 700;
    font-size: 1.8rem;
    color: #1F2937;
}

.signupbtn{
    border-radius: 4rem;
    padding: 1.6rem 12.4rem;
    background-color: var(--btn-bg-color);
    font-family: pretendard;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.simplelogin{
    width: 94%;
    display: flex;
    justify-content: space-between;
    border-radius: 0.8rem;
    padding: 1.6rem 2.3rem;
    gap: 1rem;
    background-color: var(--simplelogin-bg-color);
    font-family: pretendard;
    font-weight: 500;
    font-size: 1.6rem;
    color: #1F2937;
}

.undertext{
    text-align: center;
    font-family: pretendard;
    font-size: 1.4rem;
    font-weight: 500;
}

.colorchange{
    color: var(--primary-100-color);
}

input:focus{
    outline-color: var(--primary-100-color);
}

.email{
    padding: 1.6rem 2.4rem;
    margin-right: 37rem;
    width: 93%;
    border-radius: 1.2rem;
    font-weight: 400;
    font-family: pretendard;
    font-size: 1.6rem;
    color: #000000;
    background-color:var(--input-bg-color);
    border: none;
}



.password-toggle{
    border: none;
    position: absolute;
    right: 24px;
}

.password-toggle2{
    border: none;
    position: absolute;
    right: 24px;
}



.nickname{
    padding: 1.6rem 2.4rem;
    margin-right: 37rem;
    width: 93%;
    border-radius: 1.2rem;
    font-weight: 400;
    font-family: pretendard;
    font-size: 1.6rem;
    color: #000000;
    background-color:var(--input-bg-color);
    border: none;
}


.btn:focus{
    outline: auto var(--primary-100-color);
}

.logoimg{
    display: flex;
    justify-content: center;
}

.distance{
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.btn{
    width: 100%;
    border-radius:40px;
    gap: 1rem;
    background-color: var(--btn-bg-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
}

.btn:focus{
    background-color: var(--primary-100-color);
}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); 
}

.modal_popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 7rem 12rem;
    border-radius: 1rem;
    text-align: center;
 }

 .modal-line{
    width: 100%;
    top: 10.8rem;
    left: 17.4rem;
    font-family: pretendard;
    font-size:1.6rem;
    text-align: center;
    color: #1F2937;
}

.close_btn{
    display: block;
    border: none;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: var(--primary-100-color);
    color: #ffffff;
    transform: translate(250%, 150%);
}


.sign{
    font-family: pretendard;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    color: var(--input-bg-color);
}

.hide{
    display: none;
}

.lMsg, .matchMsg, .formMsg, .noneMsg, .noPw, .recheck, .nickMsg{
    font-family: pretendard;
    color: red;
    font-size: 150%;
    margin-top: 1rem;
}

.border{
    border: 1px solid red;
    border-radius: 12px;
}

.redborder{
    border: 1px solid red;
    border-radius: 12px;
}

.wrap{
    position: relative;
    display: flex;
    align-items: center;
}

.input{
    margin-bottom: 24px;
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
}

.input input {
    padding: 16px 24px;
    background-color: var(--input-bg-color);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }



@media(max-width:743px){
    div{
        max-width: 400px;
        padding: 0 16px;
    }
    .logoimg{
        max-width: 400px;
        padding: 0 16px;
    }
    .modal{
        width:100%;
    }
}

@media(max-width:1199px){
    .img{
        width: 50%;
    }
}
