.header {
  height: 68px;
  border-bottom: 1px solid #dfdfdf;
  margin: 0 auto;
  /* max-width: 1200px; */
  margin-bottom: 24px;
}

.header_inner {
  height: 68px;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 150px;
  height: 50px;
  /* background-color: black; ?????? 코딩안하시는디 */
  margin-right: 24px;
}

.logo_img {
  width: 100%;
}

.login {
  width: 88px;
  height: 42px;
  border: none;
  border-radius: 8px;
  background: #3692ff;
  color: #f3f4f6;
  font-weight: 600;
  font-size: 16px;
  line-height: 42px;
  position: absolute;
  right: 0;
}

.nav_container {
  display: flex;
  gap: 15px;
}

.nav_container li {
  font-size: 18px;
  font-weight: 700;
}
