/* global */
* {
  box-sizing: border-box;
}

:root {
  --mainColor: #3692FF;
}

html {
  font-size: 10px;
  font-family: 'Pretendard-Regular';
  font-style: normal;
}

/* 공통 css */
h1 {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 16px;
}

#registerBox>h1 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 11px;
}

.inputBox {
  background-color: #F3F4F6;
  width: 100%;
  margin-top: 1.6rem;
  border-radius: 1.2rem;
  -webkit-appearance: none;
  appearance: none;
  height: 4.2rem;
  padding: 0.9rem 2rem 0.9rem 2rem;
  margin-top: 0 !important;
  border-radius: 1.2rem;
  border: none;
}

input:focus {
  outline: none;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

#prodTagsBox #prodPriceBox #prodIntroBox {
  margin-top: 3.2rem;
}

#prodNmaeBox {
  margin-top: 2.4rem;
}

/* 공통 세부 항목 css */
#registerBox button {
  background-color: #9CA3AF;
  width: 8.4rem;
  height: 4.2rem;
  padding: 12px 23px 12px 23px;
  border-radius: 8px;
  border-style: none;
  font-size: 16px;
  font-weight: 600;
  color: #F3F4F6;
  cursor: pointer;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
}

#prodIntroBox input {
  height: 28.2rem;
  border-radius: 1.2rem;
  padding-bottom: 24rem;
}

/* Tag */

#tagBox {
  display: flex;
}

.tag {
  margin-top: 1.4rem;
  width: 110px;
  height: 36px;
  padding: 6px 12px 6px 16px;
  border-radius: 26px;
  background-color: #F3F4F6;

  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #1F2937;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 1.2rem;
}

.tag>span {
  grid-column: 1 / 3;
}

.tag>img {
  width: 2.2rem;
  height: 2.4rem;
  grid-column: 3 / 4;
}

/* 데스크톱 버전 */

#addItemPageMainContent {
  width: 100%;
  height: 102.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 200px 0;
}

#addItemBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#registerBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4.2rem;
  margin-bottom: 2.4rem;
}

#prodNmaeBox {
  width: 100%;
  height: 9.8rem;
  margin-bottom: 2.4rem;
}

#prodIntroBox {
  width: 100%;
  height: 32.4rem;
  margin-bottom: 2.4rem;
}

#prodPriceBox {
  width: 100%;
  height: 9.8rem;
  margin-bottom: 2.4rem;
}

#prodTagsBox {
  width: 100%;
  height: 14.8rem;
}

@media (max-width: 1300px) {
  #addItemPageMainContent {
    width: 100%;
    height: 102.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px 0;
  }
}

@media (max-width: 750px) {
  #addItemPageMainContent {
    width: 100%;
    height: 102.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px 0;
  }
}

@media (max-width: 600px) {
  #addItemPageMainContent {
    width: 100%;
    height: 102.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px 0;
  }
}