.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-bottom: 140px;
  }
  
  .pagination button {
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 12.5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #e0e0e0;
  }
  
  .pagination button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  
  .pagination button.active {
    background-color: #2F80ED;
    color: white;
    border-color: #2F80ED;
  }
  
