.infoLine2 {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid var(--gray200);
}
.infoLine2 .box {
  display: flex;
}
.infoLine2 .box:first-child {
  border-right: 1px solid var(--gray200);
}
.infoLine2 .box .userId {
  display: flex;
  align-items: center;
}
.infoLine2 .box .userId img {
  margin-right: 6px;
}
.infoLine2 .box .createdAt {
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.infoLine2 .box .favorite {
  margin-left: 32px;
  border: 1px solid var(--gray200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border-radius: 35px;
}
.infoLine2 .box .favorite img {
  margin-right: 3px;
}

.boardItem .contentText {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.coment {
  margin-bottom: 40px;
}
.coment .inputBox .cover {
  height: 104px;
}
.coment .inputBox {
  margin-bottom: 16px;
}
.coment button {
  display: block;
  background: var(--gray400);
  margin-left: auto;
  width: 72px;
  height: 42px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.comentList {
}
.comentList li {
  background: #fcfcfc;
  margin-bottom: 24px;
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid var(--gray200);
}
.comentList li:last-child {
  margin-bottom: 0;
}
.comentList li p {
  font-size: 14px;
  color: #1f2937;
  margin-bottom: 24px;
}
.comentList li .userId img {
  width: 32px;
  height: 32px;
}
.comentList li .userId .label {
  height: 32px;
}
.comentList li .userId .label .user {
  margin-bottom: 4px;
  font-size: 12px;
}
.comentList li .userId .label .time {
  font-size: 12px;
  margin-bottom: 0;
  color: #9ca3af;
}
.backBtn {
  display: block;
  width: 240px;
  height: 48px;
  background: #3692ff;
  color: #fff;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  margin: 64px auto 0px;
}
