@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social_box {
  @apply w-5 h-5 flex items-center;
}

.social_box img {
  @apply w-full object-contain;
}

html {
  @apply font-sans;
}