
.header {
  font-family: 'Pretendard';
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.logo img {
  width: 40px;
  height: 40.14px;
  margin-right: 10px;
}

.panda_text {
  font: 'ROKAF sans';
  font-size: 25.63px;
  font-weight: 700;
  line-height: 34.6px;
  color: #3692FF;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #4B5563;
  font-weight: bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;

}



.login-button button {
  background-color: #007bff;
  width: 88px;
  height: 42px;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 200px;
}

.login-button button:hover {
  background-color: #0056b3;
}
