.radix-themes {
  --primary-blue-100: #3692FF;
  --primary-blue-200: #1967D6;
  --primary-blue-300: #1251AA;
  --primary-blue-surface: #2F80ED;

  --secondary-gray-900: #111827;
  --secondary-gray-800: #1F2937;
  --secondary-gray-700: #374151;
  --secondary-gray-600: #4B5563;
  --secondary-gray-500: #6B7280;
  --secondary-gray-400: #9CA3AF;
  --secondary-gray-200: #E5E7EB;
  --secondary-gray-100: #F3F4F6;
  --secondary-gray-50: #F9FAFB;

  --accent-9: var(--primary-blue-100);
  --accent-10: var(--primary-blue-200);
  --accent-11: var(--primary-blue-300);

}