:root{
    --input-bg-color:#F3F4F6;
    --btn-bg-color:#9CA3AF;
    --simplelogin-bg-color:#E6F2FF;
    --primary-100-color:#3692FF;
    --feature-bg-color:#FCFCFC;
    --basic-100-color:#FFFFFF;
    --line-bg-color:#CFE5FF;
    --footer-bg-color:#111827;
    --text-100-color:#E5E7EB;
}