@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import "reset.css";

html{
    font-size:10px;
}

#features{
    padding-bottom:138px;
}

.feature{
    padding: 0 1.5rem;
    margin:14rem auto;
    width:50% ;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:5%;
    background-color: #FCFCFC;
}

.feature-content{
    gap:1.2rem;
    display: flex;
    flex-direction: column;
    flex:1;
    margin-right: 2rem;

}

.feature-tag{
    color: #3692FF;
    font-size: 1.8rem;
    line-height: 100%;
    margin-bottom:12px;
    font-family: pretendard;
}

.feature-description{
    font-size: 2.4rem;
    font-weight: 500;
    margin-top:24px;
    font-family: pretendard;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position:fixed;
    right: 20rem;
    left: 20rem;
    top: 0;
    left: 0;
    right:0;
    height:7rem;
    background-color: #FFFFFF;
}

h1{
    font-family: pretendard;
    font-weight: 700;
    font-size: 4rem;
}

.login{
    min-width: 8rem;
    padding: 0.2rem 2.5rem;
    margin-right: 20rem;
    border-radius: 0.8rem;
    height: 4.8rem;
    background-color:#3692FF ;
    font-weight: 600;
    font-size: 1.6rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.first{
    height: 54rem;
    background-color: #CFE5FF; 
    display: flex;
}

.infirst{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 15.2rem;
    padding: 3.2rem 20rem;
    gap: rem;
    background-color: #111827;
}

.seebtn{
    margin-top: 2rem;
    width: 9rem;
    height: 2.2rem;
    cursor: pointer;
    padding: 1.6rem 12.4rem;
    border-radius:4rem;
    background-color: #3692FF;
    cursor: pointer;
    gap:rem;
}

.see{
    font-weight: 600;
    font-family: pretendard;
    font-size:1.6rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.sns{
    display: flex;
    justify-content: space-around;
    width: 11.6rem;
    gap:1.2rem;
}

.fline{
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color:#E5E7EB;
    cursor: pointer; 
}

.last{
    padding: 0 0 6rem 0;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;

}

.footer_img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.logo{
    margin-left: 20rem;
    width: 15.3rem;
    height: 5.1rem;
}

.firstline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom:11rem;
}

.super{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-tag1{
    color: #3692FF;
    font-size: 1.8rem;
    line-height: 100%;
    margin-bottom:12px;
    font-family: pretendard;
    text-align: right;

}

.right{
    text-align: right;
}

.feature-description1{
    font-size: 2.4rem;
    font-weight: 500;
    margin-top:24px;
    font-family: pretendard;
    text-align: right;
}

@media(min-width:743px){

}

@media(min-width:1199px){
    
}
