.article {
  width: 100%;
  height: 104px;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 24px;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 32px;
  margin-bottom: 16px;
}

.infoBox {
  display: flex;
  gap: 30px;
}

.user {
  /* width: 225px; */
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #4b5563;
  border-right: 1px solid #e5e7eb;
}

.userImg {
  width: 40px;
  height: 40px;
}

.user > div:last-child {
  font-weight: 400;
  color: #9ca3af;
  padding-right: 22px;
}

.likeBox {
  border: 1px solid #e5e7eb;
  border-radius: 35px;
  width: 87px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6b7280;
  gap: 6px;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.likeImg {
  width: 20px;
  height: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  background: transparent;
  z-index: 2;
}

.optionButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  background: url("/ic_kebab.png") no-repeat center / 24px 24px;
  z-index: 3; /* 메뉴 위에 버튼 위치 */
}

.menu {
  width: 139px;
  height: 92px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #6b7280;
  border-radius: 8px;
  z-index: 4;
  display: flex;
  flex-direction: column;
}

.menu p {
  width: 100%;
  height: 46px;
  line-height: 46px;
  font-size: 1.6rem;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #d1d5db;
}

.menu p:nth-child(1) {
  border-radius: 8px 8px 0 0;
  border-bottom: none;
}

.menu p:nth-child(2) {
  border-radius: 0 0 8px 8px;
}

.menu p:hover {
  background-color: #f3f4f6;
}

.content {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
  padding-bottom: 50px;
}

.return {
  width: 240px;
  height: 48px;
  line-height: 48px;
  border-radius: 40px;
  padding-left: 39px;
  font-weight: 600;
  color: #f3f4f6;
  font-size: 1.8rem;
  background: #3692ff url("/ic_back.png") no-repeat right 35px top 13px / 24px;
  cursor: pointer;
  margin: 64px auto 130px;
}

.loading {
  font-size: 1.6rem;
  color: #4b5563;
  margin: 24px 0 130px;
}
