.form {  
  /* background-color:burlywood; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:24px; 

  /* justify-content:space-around; */
  /* align-items:center; */
  margin: 16px auto;  
}

/* width:1920px; */
/* height:1133px */

/* 
top, left, bottom, right 속성값은 
position 속성이 static일 때는 무시됩니다.
 */
 
 .login-layer{  
  /* background-color: #f10d0d;  */
  width: 640px;
  height: 618px;
  opacity: 0px;  
  margin-top: 231px;
  margin-left:auto;
  margin-right:auto;
}

.login-section1-layer{
  /* background-color: #f1cf0d;  */
  /* width: 640px; */
  width:100%;
  height: 172px;

  display: flex;
  flex-direction: row;
  justify-content: center;   
  align-items:start;
  /* gap:16px; */    
}

#login-panda-logo {
  width: 396px;  
  /* width: 61.87%;  */
  height:132px;
}

#login-panda-logo:hover {
  /* background-color: #ffffff;
  color: #000000; */
  cursor:pointer;
}

.login-section2-layer{  
  /* background-color: #33f10d;  */
  width:100%;
  /* height: 324px; */ /*로그인 버튼이 밑에 침범해서 높이 크기 제한 없앰. */
}


.form-control {
  /* background-color: blueviolet; */
  width:100%;
  display: flex;
  flex-direction: column;
  gap:12px; 
}

.form-control label{
  color: #1F2937;
  font-size: 1.125rem;
  line-height: 1.2rem;
  font-weight: 700;
  text-align:start;  

  /* height: 42px; */
  /* gap:10px; */
  /* font-size: 18px;
  line-height: 26px; */
  /* display: block; */  
}

.input-wrapper {
  position: relative; 
  /* 상대적인 */
  display: flex;
  align-items: center;
  /* background-color: red; */
}

.password-toggle-button {
  position: absolute;
  right: 24px;
  /* background-color: green; */
}

.form-control input {  
  width: 100%;
  border-radius:12px;
  padding:16px 24px 16px 24px;  
  background-color: #F3F4F6;
  color: #9CA3AF;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;  
  text-align:start;
  border-width:0;  

  /* height: 56px; */
  /* gap:10px; */
  /* display: block; */
  /* font-size: 16px;
  line-height: 26px; */
}

.form-control input:focus {
  border-width: 1px;
  border-color: #3692FF;
  outline: none;  
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: relative;
  bottom: 8px;
  left: 0;
  visibility: hidden;
  /* visibility: visible; */
}

.form-control.error small {
  visibility: visible;
}

/* 체크 박스가 선택되어 있으면 인접 형제 요소인 label 태그의 텍스트에 빨간 색 */
/* <style>
	input:checked + label{
    	color:red;
    }
</style> */

/* input placeholder에 값이 있을 때의 색깔
   input에 값이 입력되면 파란색으로 변경.
   비밀번호만 입력해도 색갈 파랗게 바뀜
   이메일 쓸때는 색깔 안바뀜 왜? */
/* .login-input:placeholder-shown + .login-button{
    background-color: #9CA3AF;
  }   */

/* .eyes {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 2px;
  height: 30px;
  font-size: 22px;
  cursor: pointer;
} */

.login-button {  
  width: 100%;
  border-radius:40px;
  padding:16px 124px 16px 124px;  
  background-color: #9CA3AF;
  outline: none;    
  color: #F3F4F6;
  font-size: 1.25rem;
  /* 버튼이 섹션을 넘어가서 1.2rem으로 줄임 */
  /* line-height: 2rem; */
  line-height: 1.2rem;
  text-align:center;
  border-width:0;
  cursor:pointer;  
  
  /* height: 56px; */
  /* gap:10px;   */  
  /* background-color: #3692FF; */
  /* display: block; */
  /* display: block; */
  /* font-size: 20px;
  line-height: 32px; */
  /* font-weight: 600; */  
}

.login-button:hover { 
  background-color: #3692FF;
  /* background-color: #1967d6; 더 진한 파랑색 */
  outline: none;  
}

.login-section3{
  background-color: #E6F2FF;   
  width:100%;
  height: 74px;  
  border-radius: 8px;
  padding: 16px 23px 16px 23px;
    
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  /* gap:10px; */
}

.login-section3-text {
  /* width:101px; */
  /* height: 26px; */
  font-weight: 500;  
  /* font-size: 16px; */
  font-size: 1rem;  
  /* line-height: 26px; */
  line-height: 1.63rem;
  text-align: left;
  color: #1F2937;
}

.login-section3-sns-layer {
  /* width:100px; */
  /* height:42px; */
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  /* align-items: flex-start; */
  gap:16px;
  /* margin:0 30 0 30; */
}

.login-item {
  width: 42px;
  height: 42px;
}

.login-item:hover {
  /* background-color: #ffffff;
  color: #000000; */
  cursor:pointer;
}

.login-section4{
  /* background-color: #0d68f1;  */
  background-color:#FCFCFC;
  width:100%;
  height:48px;
  
  padding: 24px 221.5x 0px 221.5px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap:4px;
}

.login-section4-txt {
  /* width:144px;
  height: 24px; */
  font-weight: 500;
  /* font-size: 14px; */
  font-size: 0.875rem;
  /* line-height: 24px; */
  line-height: 1.5rem;
  text-align: center;  
  color:#1F2937;
  /* cursor:pointer; */
}

.login-section4-signup {
  /* width:49px;
  height: 17px; */
  font-weight: 500;
  /* font-size: 14px; */
  font-size: 0.875rem;
  /* line-height: 16.71px; */
  line-height: 1.044rem;
  color:#3692FF;
}
