@import url('base/preflight.css');
@import url('base/color.css');
@import url('base/font.css');
@import url('base/layout.css');
@import url('base/animation.css');
@import url('base/buttonBase.css');

:root {
  font-family: 'pretendard', sans-serif;
  word-break: keep-all;
}
body {
  min-width: var(--breakpoint-mb);
  scroll-behavior: smooth;
}