@font-face {
  font-family: "Pretendard-Regular";
  src: url("/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "rokaf";
  src: url("/ROKAF_Sans_Medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Pretendard;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

.coming_soon {
  /* (gnb 70px) + (footer 160px) = 230px */
  /* height: calc(100vh - 230px); */
  /* (gnb 70px) + (footer 160px) + ( what? )= 282px */
  height: calc(100vh - 282px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 700;
  color: #3692ff;
}

:root {
  --input-bg: #f3f4f6;
  --input-ph: #9ca3af;
  --input-focus-border: #3692ff;
  --text-label: #1f2937;
  --button-color: #f3f4f6;
  --button-bg: #9ca3af;
  --button-active-bg: #3692ff;
  --clear-button: #1f2937;
  --clear-button-bg: #1f2937;
  --sns-login-bg: #e6f2ff;
  --sign-up: #3692ff;
  --wrong-pw: #ff3636;
  --right-pw: #2bb31c;
  --validate-alert: #f74747;
  --modal-overlay: rgba(0, 0, 0, 0.7);
  --modal-content-bg: #ffffff;
  --modal-button: #3692ff;
}
