@import url('common.css');
@import url('components/card.css');
@import url('components/header.css');
@import url('components/footer.css');

body {
  min-width: var(--breakpoint-mb);
  font-family: 'pretendard', sans-serif;
}

.main-container {
  word-break: keep-all;
}

.main-content {
  min-width: var(--breakpoint-mb);
  max-width: 1100px;
}