 /* 기본적인 코드 */
 * {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   font-family: 'Pretendard';
 }

 html {
   font-size: 10px;
 }

 /* header/ */
 #gnb {
   height: 7rem;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 0.1rem solid #DFDFDF;
   background-color: rgba(255, 255, 255, 0.8);
   position: sticky;
   top: 0;
   padding-left: 20rem;
   padding-right: 20rem;
   z-index: 1;
 }

 header .content {
   height: 5.1rem;
   width: 152rem;
   display: flex;
   justify-content: space-between;
 }

 header .logo img {
   width: 15.3rem;
   height: 5.1rem;
 }

 header .loginButn {
   width: 12.8rem;
   height: 4.8rem;
   border-radius: 0.8rem;
   background-color: #3692FF;
   display: flex;
   justify-content: center;
   align-items: center;
   filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
 }

 header .loginButn a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   color: #F3F4F6;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 600;
   text-decoration: none;
 }

 /* 하늘색 배경 공통 */
 .skyColorSection {
   width: 100%;
   height: 54rem;
   background-color: #CFE5FF;
   display: flex;
   justify-content: center;
   align-items: flex-end;
 }

 .skyColorContent {
   height: 34rem;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
 }

 .skyColorContent .imgBox {
   display: flex;
   max-width: 74.6rem;
   max-height: 39.7rem;
   margin-left: 0.7rem;
 }

 .skyColorContent .imgBox img {
   display: flex;
   height: 100%;
   width: 100%;
   height: auto;
   filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
 }

 /* 흰 색 배경 공통 */
 .whiteColorSection {
   width: 100%;
   height: 72rem;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 /* section1 */
 .skyColorContent .textBox {
   display: flex;
   flex-direction: column;
   padding-bottom: 100px;
 }

 .skyColorContent .textBox .text {
   width: 29.5rem;
   height: 11.2rem;
   color: #374151;
   font-size: 4rem;
   font-weight: 700;
   text-align: left;
   margin-bottom: 3.2rem;
   flex-wrap: wrap;
 }

 .skyColorContent .textBox .text .text1 {
   color: #374151;
   font-size: 4rem;
   font-weight: 700;
   text-align: left;
 }

 .skyColorContent .textBox .button {
   background-color: #3692FF;
   border-radius: 4rem;
   width: 35.7rem;
   height: 5.6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
 }

 .skyColorContent .textBox .button a {
   display: block;
   color: #F9FAFB;
   font-size: 2rem;
   text-decoration: none;
   font-weight: 600;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 /* section2 */
 .whiteColorSection .content2 {
   height: 44.4rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #FCFCFC;
   display: flex;
   justify-content: space-around;
   align-items: center;
   max-width: 98.8rem;
   min-width: 50.8rem;
 }

 .whiteColorSection .textBox {
   width: 27.4rem;
   height: 100%;
   padding-top: 10.3rem;
   padding-bottom: 10.3rem;
   min-width: 27.4rem;
   margin-left: 6.4rem;
 }

 .content2 .imgBox {
   max-width: 58.8rem;
   filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
 }

 .content2 .imgBox img {
   width: 100%;
   height: auto;
 }

 .content2 .textBox .hotItem {
   width: 7.2rem;
   height: 2.6rem;
   color: #3692FF;
   font-weight: 700;
   font-size: 1.8rem;
 }

 .content2 .textBox .text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .content2 .textBox .text .bigtext {
   font-size: 4rem;
   font-weight: 700;
   line-height: 5.6rem;
   text-align: left;
   color: #374151;
   margin-bottom: 2.4rem;
   flex-wrap: wrap;
 }

 .content2 .textBox .text .bigtext .text1 {
   color: #374151;
   font-size: 4rem;
   font-weight: 700;
   text-align: left;
 }

 .content2 .textBox .text .smalltext {
   flex-wrap: wrap;
 }

 .content2 .textBox .smalltext .text1 {
   font-size: 2.4rem;
   font-weight: 500;
   line-height: 3.2rem;
   text-align: left;
   color: #374151;
 }

 /* section3 */
 .content3 {
   width: 98.8rem;
   height: 72rem;
   display: flex;
   padding-left: 0.95rem;
   padding-right: 0.95rem;
   padding-top: 13.8rem;
   padding-bottom: 13.8rem;
   background-color: #FCFCFC;
 }

 .content3 .imgBox {
   height: 44.4rem;
   margin-left: 6.4rem;
   filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .content3 .imgBox img {
   width: 100%;
 }

 .search {
   width: 6rem;
   height: 2.6rem;
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 2.6rem;
   text-align: left;
   color: #3692FF;
 }

 .content3 .textBox {
   width: 31.7rem;
   height: 23.8rem;
   gap: 1.2rem;
   margin-top: 10.3rem;
   margin-bottom: 10.3rem;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   align-items: flex-end;
   min-width: 31.7rem;
 }

 .content3 .text .bigtext {
   margin-bottom: 2.4rem;
   flex-wrap: wrap;
 }

 .content3 .textBox .text .bigtext .text1 {
   font-size: 4rem;
   font-weight: 700;
   line-height: 5.6rem;
   text-align: right;
   color: #374151;
 }

 .content3 .text .smalltext {
   flex-wrap: wrap;
 }

 .content3 .smalltext .text1 {
   font-size: 2.4rem;
   font-weight: 500;
   line-height: 3.2rem;
   text-align: right;
   color: #374151;
   flex-wrap: wrap;
 }

 /* section4 */

 .content4 {
   height: 44.4rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #FCFCFC;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 98.8rem;
 }

 .content4 .textBox {
   min-width: 33.5rem;
   margin-left: 6.4rem;
 }

 .content4 .imgBox {
   max-width: 58.8rem;
   filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
 }

 .content4 .imgBox img {
   width: 100%;
   height: auto;
 }

 .content4 .textBox .register {
   width: 7.2rem;
   height: 2.6rem;
   color: #3692FF;
   font-weight: 700;
   font-size: 1.8rem;
   margin-bottom: 1.2rem;
 }

 .content4 .textBox .text {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .content4 .textBox .text .bigtext {
   margin-bottom: 2.4rem;
   flex-wrap: wrap;
 }

 .content4 .textBox .text .bigtext .text1 {
   font-size: 4.0rem;
   font-weight: 700;
   line-height: 5.6rem;
   text-align: left;
   color: #374151;
 }

 .content4 .textBox .text .smalltext {
   flex-wrap: wrap;
 }

 .content4 .textBox .smalltext .text1 {
   font-size: 2.4rem;
   font-weight: 500;
   line-height: 3.2rem;
   text-align: left;
   color: #374151;
 }

 /* section5 */
 .skyColorSection .skyColorContent .textBox5 {
   display: flex;
   width: 29.5rem;
   min-width: 29.5rem;
   margin-bottom: 11.25rem;

   font-size: 4rem;
   font-weight: 700;
   line-height: 5.6rem;
   text-align: left;
   flex-wrap: wrap;
 }

 /* footer */
 footer {
   width: 100%;
   height: 16rem;
   background-color: #111827;
   display: flex;
   justify-content: center;
   padding-top: 3.2rem;
 }

 footer .box {
   width: 152rem;
   height: 2rem;
   display: flex;
   justify-content: space-between;
   margin-left: 20rem;
   margin-right: 20rem;
 }

 .year {
   width: 12.2rem;
   height: 1.9rem;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.909rem;
   display: flex;
   text-align: center;
   color: #9CA3AF;
 }

 .fqa {
   width: 16.9rem;
   height: 1.9rem;
   gap: 3rem;
   opacity: 0rem;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.909rem;
   text-align: center;
   color: #E5E7EB;
   display: flex;
   justify-content: space-between;
 }

 .fqa a {
   text-decoration: none;
   color: #E5E7EB;
 }

 footer .box .icon {
   width: 11.6rem;
   display: flex;
   justify-content: space-between;
   filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 15%));
 }