.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 34px;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
