/* 미디어쿼리 */
@media (width <= 1440px) {
  .sc1_box {
    transform: scale(75%);
    transform-origin: center bottom;
  }
  .sc2_box {
    transform: scale(75%);
    transform-origin: center;
  }
  .sc3_box {
    transform: scale(75%);
    transform-origin: center;
  }
  .sc4_box {
    transform: scale(75%);
    transform-origin: center;
  }
  .sc5_box {
    transform: scale(75%);
    transform-origin: center bottom;
  }
  .section1, .section2, .section3, .section4, .section5 {
    /* height: calc(540px - (540 * 10%)); */
    height: calc(540px - 108px);
  }
}

@media (width <= 1024px) {
  .sc1_box {
    transform: scale(60%);
    transform-origin: center bottom;
  }
  .sc2_box {
    transform: scale(60%);
    transform-origin: center;
  }
  .sc3_box {
    transform: scale(60%);
    transform-origin: center;
  }
  .sc4_box {
    transform: scale(60%);
    transform-origin: center;
  }
  .section5 {
    margin-top: 0;
  }
  .sc5_box {
    transform: scale(60%);
    transform-origin: center bottom;
  }
  .nav, .footer_box {
    padding: 0 10%;
  }
  /* .section1, .section2, .section3, .section4, .section5 {
    height: 50%;
  } */
  .sc2_p > span,
  .sc3_p > span,
  .sc4_p > span {
    font-size: 2.4rem;
  }

  .header-inner > .logo {
    transform: scale(85%);
    transform-origin: center;
  }

  .login-header, .signup-header {
    margin-bottom: 15px;
  }

  .header-inner > .logo {
    margin-top: 75px;
  }
}

@media (width <= 768px) {
  .section1, .section5 {
    position: relative;
  }
  .sc1_box {
    height: 600px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    transform: scale(50%);
    transform-origin: center bottom;
  }
  .sc2_box {
    height: 800px;
    flex-direction: column-reverse;
    justify-content: space-around;
    transform: scale(50%);
    transform-origin: center;
  }
  .sc3_box {
    height: 800px;
    flex-direction: column;
    justify-content: space-around;
    transform: scale(50%);
    transform-origin: center;
  }
  .sc4_box {    
    height: 800px;
    flex-direction: column-reverse;
    justify-content: space-around;
    transform: scale(50%);
    transform-origin: center;
  }
  .sc5_box {
    height: 600px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    transform: scale(50%);
    transform-origin: center bottom;
  }
  .sc2_p > span,
  .sc3_p > span,
  .sc4_p > span {
    font-size: 3rem;
  }

  .header-inner > .logo {
    transform: scale(70%);
    transform-origin: center;
  }

  .login-header, .signup-header {
    margin-bottom: 1px;
  }

  .header-inner > .logo {
    margin-top: 40px;
  }
}