* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('./header.css');

.productList__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.productList__label {
  font-family: var(--font-pretendard);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #111827;
  margin-bottom: 10px;
}

.favoriteProductList {
  display: flex;
  gap: 24px;
  width: 100%;
}

.sortedProductList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap:24px;
  flex: 1 1 calc((100% - 4*24px) / 5);
}

.favoriteProductItem , .sortedProductItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.favoriteProductItem {
  width: calc((100% - 3*24px) / 4);
}

.sortedProductItem {
  width: calc((100% - 4*24px) / 5);
}

.favoriteProductItem > img, .sortedProductItem > img {
  aspect-ratio: 1 / 1; 
  object-fit: cover;   
  border-radius: 16px;
}

.productItem__description {
  flex-grow: 1; 
  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 1; 
}

.favoriteProductItem > div, .sortedProductItem > div {
  font-size: 14px;
}

@media (max-width: 1199px) and (min-width: 744px) {
  .favoriteProductItem {
    width: calc((100% - 24px) / 2);
  }

  .sortedProductItem {
    width: calc((100% - 2*24px) / 3);
  }
}

@media (max-width: 743px) and (min-width: 375px) {
  .favoriteProductItem {
    width: 100%; 
  }

  .sortedProductItem {
    width: calc((100% - 24px) / 2);
  }
}

.sortedProductList__label__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortedProductList__label__box input {
  width: 250px;
  height: 25px;
  background-color: #F3F4F6;
  border: 0;
  border-radius: 12px;
  padding-left: 25px;
  background-image: url(../img/search_돋보기.png);
  background-repeat: no-repeat;
  background-position: 9px center;
  background-size: 12px;
  color: #9CA3AF;
}

.sortedSelect {
  border-radius: 12px;
  width: 100px;
  height: 25px;
  cursor: pointer;
  padding-left: 5px;
}

.sortedProductList__label__box > div {
  display: flex;
  gap: 8px;
}

.sortedProductList__label__box > div > button,
.sortedProductList__label__box > div > select {
  height: 25px;
}

.sortedProductList__label__box > div > button {
  background-color: var(--color-blue);
  font-family: var(--font-pretendard);
  color: #F3F4F6;
  border-radius: 8px;
  font-size: 12px;
  border: 0;
  width: 120px;
}

