.border-b	{
  border-bottom-width: 1px;
  border-color: var(--color-border);
}
.pc-none {
  display: none;
}
.sticky {
  position: sticky;
}
.absolute {
  position: absolute;
}
.self-center {
  align-self: center;
}
.justify-self-end	{
  justify-self: end;
}
.appearance-none {
  appearance: none;
}
.cursor-pointer	{
  cursor: pointer;
}
.top-0 {
  top: 0;
}
/* Layout */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-wrap	{
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.shrink-0 {
  flex-shrink: 0;
}
.min-w-30 {
  min-width: var(--padding-30);
}
.min-h-40 {
  min-height: var(--padding-40);
}
.min-h-screen {
  min-height: 100vh;
}

/* Alignment */
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end	{
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-end	{
  justify-content: flex-end;
}
.space-between {
  justify-content: space-between;
}

/* Padding */
.p-4 {
  padding: var(--padding-4);
}
.pt-3 {
  padding-top: var(--padding-3);
}
.pt-6 {
  padding-top: var(--padding-6);
}
.pt-8 {
  padding-top: var(--padding-8);
}
.pt-9 {
  padding-top: var(--padding-9);
}
.pt-12 {
  padding-top: var(--padding-12);
}
.pt-15 {
  padding-top: var(--padding-15);
}
.pt-50 {
  padding-top: var(--padding-50);
}
.pt-35\.5 {
  padding-top: var(--padding-35\.5)
}
.pr-6 {
  padding-right: var(--padding-6);
}
.pr-12 {
  padding-right: var(--padding-12);
}
.pl-8 {
  padding-left: var(--padding-8);
}
.py-2\.5 {
  padding-top: var(--padding-2\.5);
  padding-bottom: var(--padding-2\.5);
}
.py-3 {
  padding-top: var(--padding-3);
  padding-bottom: var(--padding-3);
}
.py-4 {
  padding-top: var(--padding-4);
  padding-bottom: var(--padding-4);
}
.py-15 {
  padding-top: var(--padding-15);
  padding-bottom: var(--padding-15);
}
.py-34\.5 {
  padding-top: var(--padding-34\.5);
  padding-bottom: var(--padding-34\.5);
}
.px-4 {
  padding-left: var(--padding-4);
  padding-right: var(--padding-4);
}
.px-6 {
  padding-left: var(--padding-6);
  padding-right: var(--padding-6);
}
.px-11 {
  padding-left: var(--padding-11);
  padding-right: var(--padding-11);
}
.px-13 {
  padding-left: var(--padding-13);
  padding-right: var(--padding-13);
}
.px-31 {
  padding-left: var(--padding-31);
  padding-right: var(--padding-31);
}
.px-50 {
  padding-left: var(--padding-50);
  padding-right: var(--padding-50);
}
/* Margin */
.mb-34\.5 {
  margin-bottom: var(--padding-34\.5)
}
.m-auto {
  margin: auto;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Gap */
.gap-3 {
  gap: var(--padding-3);
}
.gap-4 {
  gap: var(--padding-4);
}
.gap-6 {
  gap: var(--padding-6);
}
.gap-7\.5 {
  gap: var(--padding-7\.5);
}
.gap-8 {
  gap: var(--padding-8);
}
.gap-10 {
  gap: var(--padding-10)
}
.gap-11 {
  gap: var(--padding-11)
}
.gap-12 {
  gap: var(--padding-12)
}
.gap-16 {
  gap: var(--padding-16);
}
.gap-y-6 {
  row-gap: var(--padding-6);
}
/* Height */
.h-full {
  height: 100%;
}
/* Width */
.w-full {
  width: 100%;
}
.max-w-89 {
  max-width: var(--padding-89);
}
.max-w-pc {
  max-width: 1920px
}
/* Border */
.rounded-xs {
  border-radius: var(--border-radius-xs);
}
.rounded-sm {
  border-radius: var(--border-radius-sm);
}
.rounded-md {
  border-radius: var(--border-radius-md);
}
.rounded-lg {
  border-radius: var(--border-radius-lg);
}
.rounded-xl {
  border-radius: var(--border-radius-xl);
}
@media (min-width: 1200px) {
  .pc-px-50 {
    padding-left: var(--padding-50);
    padding-right: var(--padding-50);
  }
}
/* Media Queries */
@media (max-width: 744px) {
  .tb-none {
    display: none;
  }
  .tb-text-center {
    text-align: center;
  }
  .tb-flex-col {
    flex-direction: column;
  }
  .tb-p-0{
    padding: 0;
  }
  .tb-p-6 {
    padding: var(--padding-6);
  }
  .tb-pt-4 {
    padding-top: var(--padding-4);
  }
  .tb-pt-12 {
    padding-top: var(--padding-12);
  }
  .tb-pt-21 {
    padding-top: var(--padding-21);
  }
  .tb-px-6 {
    padding-left: var(--padding-6);
    padding-right: var(--padding-6);
  }
  .tb-pt-50 {
    padding-top: var(--padding-50);
  }
  .tb-py-52 {
    padding-top: var(--padding-52);
    padding-bottom: var(--padding-52);
  }
  .tb-gap-6 {
    gap: var(--padding-6);
  }
  .tb-gap-53 {
    gap: var(--padding-53);
  }
  .tb-mb-8 {
    margin-bottom: var(--padding-8);
  }
}
@media (max-width: 375px) {
  .mb-mx-6 {
    margin-left: var(--padding-6);
    margin-right: var(--padding-6);
  }
  .mb-text-center {
    text-align: center;
  }
  .mb-order-last {
    order: 9999;
  }
  .mb-block {
    display: block;
  }
  .mb-flex {
    display: flex;
  }
  .mb-none {
    display: none;
  }
  .mb-gap-2{
    gap: var(--padding-2);
  }
  .mb-gap-4 {
    gap: var(--padding-4);
  }
  .mb-gap-4\.5 {
    gap: var(--padding-4\.5);
  }
  .mb-gap-6 {
    gap: var(--padding-6);
  }
  .mb-gap-33 {
    gap: var(--padding-33);
  }
  .mb-pt-2 {
    padding-top: var(--padding-2);
  }
  .mb-pt-4 {
    padding-top: var(--padding-4);
  }
  .mb-pt-12 {
    padding-top: var(--padding-12);
  }
  .mb-pt-6 {
    padding-top: var(--padding-6);
  }
  .mb-px-4 {
    padding-left: var(--padding-4);
    padding-right: var(--padding-4);
  }
  .mb-px-17 {
    padding-left: var(--padding-17);
    padding-right: var(--padding-17);
  }
  .mb-py-5 {
    padding-top: var(--padding-5);
    padding-bottom: var(--padding-5);
  }
  .mb-py-31 {
    padding-top: var(--padding-31);
    padding-bottom: var(--padding-31);
  }
  .mb-mt-8 {
    margin-top: var(--padding-8);
  }
  .mb-mb-15\.5 {
    margin-bottom: var(--padding-15\.5);
  }
  .mb-w-49\.5 {
    width: var(--padding-49\.5);
  }
}